---
layout: "example-form-layout"
title: eApp Design System | Example form
---

<form action="" class="eapp-form">
	<h1 class="eapp-section-header">Where You Have Lived</h1>
	<h2>List the places where you have lived beginning with your present residence and working back 10 years.</h2>
	<p>Residences for the entire period must be accounted for without breaks.</p>
	<ul>
		<li><strong>Indicate the actual physical location of your residence</strong>, not a Post Office box or a permanent residence when you were not physically located there.</li>
		<li><strong>If you split your time between one or more residences during a time period</strong>, you must list all residences.</li>
		<li><strong>Do not list residences before your 18th birthday</strong> unless to provide a minimum of 2 years residence history.</li>
	</ul>

	<div class="usa-timeline-block">
		<div class="usa-timeline-content">
			<span class="usa-timeline-icon">
				<i class="fas fa-home fa-3x"></i>
			</span>
			<span class="usa-timeline-title">
				<strong>Where you have lived</strong>
			</span>
			<div class="usa-timeline-progress">
				<div class="usa-timeline-progress-filled"></div>
			</div>
		</div>
		<div class="usa-counter">
			<div class="usa-counter-fraction">
				<span class="completed">0</span>
				<span class="slash">/</span>
				<span class="total">10</span>
			</div>
			<div class="usa-counter-unit">
				Years covered
			</div>
		</div>
	</div>

	<ul id="accordion" class="usa-accordion-bordered">
	  <li>
	    <div class="usa-accordion-header">
	      <button class="usa-accordion-button"
	        aria-expanded="true"
	        aria-controls="b-a1">
	        <div class="titles">
	          <div class="title">
	            <div class="title-right">
	              <span class="fa-stack">
	                <i class="fas fa-circle fa-stack-2x"></i>
	                <i class="fas fa-stack-1x fa-home fa-inverse"></i>
	              </span>
	              <span>Address 1:</span>
	            </div>
	            <div class="title-left">
	              <span></span>
	            </div>
	          </div>
	        </div>
	        <div class="usa-accordion-close-button">
	        </div>
	      </button>
	      <button class="usa-accordion-remove-button">
	        <span class="fas fa-times fa-fw"></span>
	        <span class="remove">Remove</span>
	      </button>
	     </div>
	    <div id="b-a1" class="usa-accordion-content">
				<!-- Address block -->
				<fieldset id="address-block" class="usa-fieldset-inputs">
			    <legend>
			    	<span>Provide street address</span>
			    	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
			    </legend>
			    <fieldset class="usa-fieldset-inputs">
			      <legend class="label-style">This address is</legend>
			      <ul class="usa-list-inline usa-list-inline-justified">
			        <li>
			          <input id="inside-us-radio" type="radio" name="address-type" value="inside-us-radio" checked>
			          <label for="inside-us-radio"><span>In the U.S.</span></label>
			        </li>
			        <li>
			          <input id="outside-us-radio" type="radio" name="address-type" value="outside-us-radio">
			          <label for="outside-us-radio"><span>Outside the U.S.</span></label>
			        </li>
			        <li>
			          <input id="apo-fpo-dpo-radio" type="radio" name="address-type" value="apo-fpo-dpo-radio">
			          <label for="apo-fpo-dpo-radio"><span>APO/FPO/DPO</span></label>
			        </li>
			      </ul>
			    </fieldset>

			    <!-- Inside U.S. fields -->
			    <div class="inside-us-fields">
			      <div class="usa-form-control">
			        <label for="mailing-address-1" class="address-block">Street address</label>
			        <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
			        <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="city" class="address-block">City</label>
			        <input id="city" name="city" type="text" class="address-block">
			      </div>
			      <div class="usa-grid address-block">
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="state">State</label>
			            <input id="state" name="state" type="text">
			          </div>
			        </div>
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="zip">Zip</label>
			            <input id="zip" name="zip" type="zip">
			          </div>
			        </div>
			      </div>
			    </div>
			    <!-- Inside U.S. fields end -->
			    <!-- Outside U.S. fields -->
			    <div class="outside-us-fields">
			      <div class="usa-form-control">
			        <label for="mailing-address-1" class="address-block">Street address</label>
			        <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
			        <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="city" class="address-block">City</label>
			        <input id="city" name="city" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="country" class="address-block">Country</label>
			        <select name="country" id="country" class="address-block">
			          <option value="United States of America">United States of America</option>
			          <option value="Another country">Another country</option>
			          <option value="Another country">Another country</option>
			        </select>
			      </div>
			    </div>
			    <!-- Outside U.S. fields end -->
			    <!-- APO/FPO/DPO fields -->
			    <div class="apo-fpo-dpo-fields">
			      <div class="usa-form-control">
			        <label for="address" class="apo-fpo-dpo-address-block">Address</label>
			        <input type="text" class="apo-fpo-dpo-address-block">
			      </div>
			      <label for="" class="apo-fpo-dpo-address-block">Select APO, FPO, DPO</label>
			      <ul class="usa-list-inline usa-list-inline-justified apo-fpo-dpo-address-block">
			        <li>
			          <div class="usa-form-controlk">
			            <input id="apo" type="radio" name="apo-fpo-dpo" value="APO">
			            <label for="apo"><span>APO</span></label>
			          </div>
			        </li>
			        <li>
			          <div class="usa-form-control">
			            <input id="fpo" type="radio" name="apo-fpo-dpo" value="FPO">
			            <label for="fpo"><span>FPO</span></label>
			          </div>
			        </li>
			         <li>
			          <div class="usa-form-control">
			            <input id="dpo" type="radio" name="apo-fpo-dpo" value="DPO">
			            <label for="dpo"><span>DPO</span></label>
			          </div>
			        </li>
			      </ul>
			      <div class="usa-grid apo-fpo-dpo-address-block">
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="apo-fpo-dpo-code">APO/FPO/DPO State Code</label>
			            <input type="text">
			          </div>
			        </div>
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="apo-fpo-dpo-zip-code">Zip Code</label>
			            <input type="text">
			          </div>
			        </div>
			      </div>
			    </div>
			    <!-- APO/FPO/DPO fields end -->
			  </fieldset>
			  <!-- Address block end -->
			  <!-- APO/FPO y/n block -->
			  <fieldset class="usa-fieldset-inputs usa-sans">
		      <legend>Did you have an APO/FPO address while at this location?</legend>
		      <ul class="usa-list-inline-justified usa-list-inline">
		        <li>
		          <input id="yes" type="radio" name="other-names" >
		          <label for="yes"><span>Yes</span></label>
		        </li>
		        <li>
		          <input id="no" type="radio" name="other-names" >
		          <label for="no"><span>No</span></label>
		        </li>
		      </ul>
		    </fieldset>
		    <!-- APO/FPO y/n block end -->
		    <!-- Dates of residence -->
		    <fieldset id="from-to-date-block" class="usa-fieldset-inputs">
		      <legend>
		      	<span>Provide dates of residence</span>
		      	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
		      </legend>
		      <p>You are not required to list temporary locations of less than 90 days that did not serve as your permanent or mailing address.</p>
		      <div class="from-to-dates">
		        <div class="from-date-container">
		          <p><strong>From date</strong></p>
		          <div class="m-d-y-block">
		            <div class="usa-form-control">
		              <label for="month">Month</label>
		              <input type="text" id="month" maxlength="2">
		            </div>
		            <div class="usa-form-control">
		              <label for="day">Day</label>
		              <input type="text" id="day" maxlength="2">
		            </div>
		            <div class="usa-form-control">
		              <label for="year">Year</label>
		              <input type="text" id="year" maxlength="4">
		            </div>
		          </div>
		          <div class="modifiers">
		            <div class="modifier">
		              <input id="from-estimated" type="checkbox" name="from-estimated">
		              <label class="simple-checkbox" for="from-estimated"><span>Estimated</span></label>
		            </div>
		          </div>
		        </div>
		        <div class="from-to-date-arrow">
		          <i class="fas fa-long-arrow-alt-right fa-2x"></i>
		        </div>
		        <div class="to-date-container">
		          <p><strong>To date</strong></p>
		          <div class="m-d-y-block">
		            <div class="usa-form-control">
		              <label for="month">Month</label>
		              <input type="text" id="month" class="to-date-input" maxlength="2">
		            </div>
		            <div class="usa-form-control">
		              <label for="day">Day</label>
		              <input type="text" id="day" class="to-date-input" maxlength="2">
		            </div>
		            <div class="usa-form-control">
		              <label for="year">Year</label>
		              <input type="text" id="year" class="to-date-input" maxlength="4">
		            </div>
		          </div>
		          <div class="modifiers">
		            <div class="modifier">
		              <input id="to-estimated" class="to-date-input" type="checkbox" name="to-estimated">
		              <label class="simple-checkbox" for="to-estimated"><span>Estimated</span></label>
		            </div>
		          </div>
		        </div>
		        <div class="or">or</div>
		        <div class="present">
		          <input class="disabled-toggle" id="present" type="checkbox" name="present" data-id="to-date-input">
		          <label for="present"><span>Present</span></label>
		        </div>
		      </div>
		    </fieldset>
		    <!-- Dates of residence end -->
		    <!-- Residence type -->
		    <fieldset class="usa-fieldset-inputs usa-sans">
		      <legend>Is/was this residence</legend>
		      <ul class="usa-unstyled-list">
		        <li>
		          <input id="owned" type="radio" name="residence-type">
		          <label for="owned"><span>Owned by you</span></label>
		        </li>
		        <li>
		          <input id="rented-leased" type="radio" name="residence-type">
		          <label for="rented-leased"><span>Rented or leased by you</span></label>
		        </li>
		        <li>
		          <input id="military-housing" type="radio" name="residence-type">
		          <label for="military-housing"><span>Military housing</span></label>
		        </li>
		        <li>
		          <input id="other" type="radio" name="residence-type" >
		          <label for="other"><span>Other</span></label>
		        </li>
		      </ul>
		    </fieldset>
		    <!-- Residence type end -->
		    <!-- Person who knows you -->
		    <h2>Add a person that knows you</h2>
		    <p>For any address in the last 3 years, provide a person who knew you at the address, and who preferably still lives in that area. Do not list people who knew you well for residences completely outside this 3-year period, and do not list your spouse, cohabitant or other relatives.</p>

		    <!-- Persons name -->
		    <fieldset class="usa-fieldset-inputs">
		    	<legend>Provide the person's full name</legend>
		    	<div class="usa-form-control">
			    	<label for="firs-name">
			    		<span>First name</span>
			    		<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
			    	</label>
			    	<input type="text" id="first-name">
			    	<div class="modifiers">
			    		<div class="modifier">
			    			<input id="initial-only-first" type="checkbox">
			          <label class="simple-checkbox" for="initial-only-first"><span>Initial only</span></label>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="usa-form-control">
			    	<label for="firs-name">
				    	<span>Middle name</span>
				    	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
		            <i class="fas fa-question-circle"></i>
		          </a>
				    </label>
			    	<input type="text" id="middle-name">
			    	<div class="modifiers">
			    		<div class="modifier">
			    			<input id="no-middle" type="checkbox">
			          <label class="simple-checkbox" for="no-middle"><span>No middle name</span></label>
			    		</div>
			    		<div class="modifier">
			    			<input id="initial-only-middle" type="checkbox">
			          <label class="simple-checkbox" for="initial-only-middle"><span>Initial only</span></label>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="usa-form-control">
			    	<label for="firs-name">
				    	<span>Last name</span>
				    	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
		            <i class="fas fa-question-circle"></i>
		          </a>
				    </label>
			    	<input type="text" id="last-name">
			    	<div class="modifiers">
			    		<div class="modifier">
			    			<input id="initial-only-last" type="checkbox">
			          <label class="simple-checkbox" for="initial-only-last"><span>Initial only</span></label>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="usa-form-control">
		    		<label for="suffix">
		    			<span>Suffix</span>
		    			<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
		            <i class="fas fa-question-circle"></i>
		          </a>
		    		</label>
		    		<select class="usa-small-input" name="suffidx" id="suffix">
		    			<option value="jr">Jr</option>
		    			<option value="sr">Sr</option>
		    			<option value="i">I</option>
		    			<option value="ii">II</option>
		    			<option value="iii">III</option>
		    			<option value="iv">IV</option>
		    			<option value="v">V</option>
		    			<option value="vii">VII</option>
		    			<option value="ix">IX</option>
		    			<option value="x">X</option>
		    			<option value="other">Other</option>
		    		</select>
		    	</div>
		    </fieldset>
		    <!-- Persons name end -->
		    <!-- Date last contact -->
		    <fieldset class="usa-fieldset-inputs">
		      <legend>
		      	<span>Provide date of last contact</span>
		      	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
		      </legend>
		      <div class="m-d-y-block">
		        <div class="usa-form-control">
		          <label for="month">Month</label>
		          <input type="text" id="month" maxlength="2">
		        </div>
		        <div class="usa-form-control">
		          <label for="day">Day</label>
		          <input type="text" id="day" maxlength="2">
		        </div>
		        <div class="usa-form-control">
		          <label for="year">Year</label>
		          <input type="text" id="year" maxlength="4">
		        </div>
		        <div class="modifiers">
		          <div class="modifier">
		            <input id="estimated" type="checkbox" name="estimated">
		            <label class="simple-checkbox" for="estimated"><span>Estimated</span></label>
		          </div>
		        </div>
		      </div>
		    </fieldset>
				<!-- Date last contact end -->
				<!-- Relationship type -->
				<fieldset class="usa-fieldset-inputs usa-sans">
		      <legend>Relationship</legend>
		      <p>Provide you relationship to this person (check all that apply):</p>
		      <ul class="usa-unstyled-list">
		        <li>
		          <input id="neighbor" type="checkbox" name="relationship-type">
		          <label for="neighbor"><span>Neighbor</span></label>
		        </li>
		        <li>
		          <input id="friend" type="checkbox" name="relationship-type">
		          <label for="friend"><span>Friend</span></label>
		        </li>
		        <li>
		          <input id="landlord" type="checkbox" name="relationship-type">
		          <label for="landlord"><span>Landlord</span></label>
		        </li>
		        <li>
		          <input id="business-associate" type="checkbox" name="relationship-type" >
		          <label for="business-associate"><span>Business Associate</span></label>
		        </li>
		        <li>
		          <input id="other-relationship" type="checkbox" name="relationship-type" >
		          <label for="other-relationship"><span>Other</span></label>
		        </li>
		      </ul>
		    </fieldset>
		    <!-- Relationship type end -->
		    <!-- Person who knows you end -->

		    <!-- Person contact information -->
				<h2>Their contact information</h2>
				<p>Provide the following information for this person.</p>
				
				<!-- Evening phone -->
				<fieldset class="usa-fieldset-inputs">
			    <legend>
			    	<span>Provide this person's evening phone number</span>
			    	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
			    </legend>
					<div class="usa-phone-number-block">
			      <div class="usa-phone-number-input">
			        <label for="phone-number">Phone number</label>
			        <input type="text" name="phone-number" class="evening-phone">
			      </div>
			      <div class="usa-extension-input">
			        <label for="extension">Extension</label>
			        <input type="text" name="extension" class="evening-phone">
			      </div>
			      <div class="usa-phone-type-input">
			        <label for="phone-type-1">Phone type</label>
			        <select name="phone-type-1" id="phone-type-1" class="evening-phone">
			          <option value="" style="display:none" disabled selected></option>
			          <option value="cell">Cell</option>
			          <option value="home">Home</option>
			          <option value="work">Work</option>
			        </select>
			      </div>
			      <div class="usa-phone-dont-know">
			      	<ul class="usa-list-inline">
			      		<li><span>or</span></li>
			      		<li>
						      <input class="disabled-toggle" id="phone-dont-know" type="checkbox" name="phone-dont-know" value="phone-dont-know" data-id="evening-phone">
							    <label for="phone-dont-know"><span>I don't know</span></label>
			      		</li>
			      	</ul>
			      </div>
					</div>
			    <div class="modifiers modifiers-left">
			    	<div class="modifier">
			    		<input id="international-dsn" type="checkbox" name="international-dsn" value="dns" class="evening-phone">
					    <label class="simple-checkbox" for="international-dsn"><span>This is an international or DSN phone number</span></label>
			    	</div>
			    </div>
			    <div class="usa-grid">
			      <div class="usa-width-one-half">
			        <fieldset class="usa-fielset-inputs">
			          <legend class="label-style">Best time to call</legend>
			          <ul class="usa-list-inline">
			            <li>
			              <input id="day-phone-1" class="evening-phone" type="radio" name="time-to-call-1" value="day">
			              <label for="day-phone-1"><span>Day</span></label>
			            </li>
			            <li>
			              <input id="night-phone-1" class="evening-phone" type="radio" name="time-to-call-1" value="night">
			              <label for="night-phone-1"><span>Night</span></label>
			            </li>
			            <li>
			              <input id="day-night-phone-1" class="evening-phone" type="radio" name="time-to-call-1" value="both">
			              <label for="day-night-phone-1"><span>Both</span></label>
			            </li>
			          </ul>
			        </fieldset>
			      </div>
			    </div>
			  </fieldset>
			  <!-- Evening phone end -->
				<!-- Daytime phone -->
				<fieldset class="usa-fieldset-inputs">
			    <legend>
			    	<span>Provide this person's daytime phone number</span>
			    	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
			    </legend>
					<div class="usa-phone-number-block">
			      <div class="usa-phone-number-input">
			        <label for="phone-number">Phone number</label>
			        <input type="text" name="phone-number" class="day-phone">
			      </div>
			      <div class="usa-extension-input">
			        <label for="extension">Extension</label>
			        <input type="text" name="extension" class="day-phone">
			      </div>
			      <div class="usa-phone-type-input">
			        <label for="phone-type-1">Phone type</label>
			        <select name="phone-type-1" id="phone-type-1" class="day-phone">
			          <option value="" style="display:none" disabled selected></option>
			          <option value="cell">Cell</option>
			          <option value="home">Home</option>
			          <option value="work">Work</option>
			        </select>
			      </div>
			      <div class="usa-phone-dont-know">
			      	<ul class="usa-list-inline">
			      		<li><span>or</span></li>
			      		<li>
						      <input class="disabled-toggle" id="phone-dont-know-2" type="checkbox" name="phone-dont-know-2" value="phone-dont-know-2" data-id="day-phone">
							    <label for="phone-dont-know-2"><span>I don't know</span></label>
			      		</li>
			      	</ul>
			      </div>
					</div>
			    <div class="modifiers modifiers-left">
			    	<div class="modifier">
			    		<input id="international-dsn-2" type="checkbox" name="international-dsn-2" value="dns" class="day-phone">
					    <label class="simple-checkbox" for="international-dsn-2"><span>This is an international or DSN phone number</span></label>
			    	</div>
			    </div>
			    <div class="usa-grid">
			      <div class="usa-width-one-half">
			        <fieldset class="usa-fielset-inputs">
			          <legend class="label-style">Best time to call</legend>
			          <ul class="usa-list-inline">
			            <li>
			              <input id="day-phone-2" class="day-phone" type="radio" name="time-to-call-2" value="day">
			              <label for="day-phone-2"><span>Day</span></label>
			            </li>
			            <li>
			              <input id="night-phone-2" class="day-phone" type="radio" name="time-to-call-2" value="night">
			              <label for="night-phone-2"><span>Night</span></label>
			            </li>
			            <li>
			              <input id="day-night-phone-2" class="day-phone" type="radio" name="time-to-call-2" value="both">
			              <label for="day-night-phone-2"><span>Both</span></label>
			            </li>
			          </ul>
			        </fieldset>
			      </div>
			    </div>
			  </fieldset>
			  <!-- Daytime phone end -->
			  <!-- Mobile phone -->
			  <fieldset class="usa-fieldset-inputs">
			    <legend>
			    	<span>Provide this person's mobile/cell phone number</span>
			    	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
			    </legend>
					<div class="usa-phone-number-block">
			      <div class="usa-phone-number-input">
			        <label for="phone-number">Phone number</label>
			        <input type="text" name="phone-number" class="mobile-phone">
			      </div>
			      <div class="usa-extension-input">
			        <label for="extension">Extension</label>
			        <input type="text" name="extension" class="mobile-phone">
			      </div>
			      <div class="usa-phone-type-input">
			        <label for="phone-type-1">Phone type</label>
			        <select name="phone-type-1" id="phone-type-1" class="mobile-phone">
			          <option value="" style="display:none" disabled selected></option>
			          <option value="cell">Cell</option>
			          <option value="home">Home</option>
			          <option value="work">Work</option>
			        </select>
			      </div>
			      <div class="usa-phone-dont-know">
			      	<ul class="usa-list-inline">
			      		<li><span>or</span></li>
			      		<li>
						      <input class="disabled-toggle" id="phone-dont-know-3" type="checkbox" name="phone-dont-know-3" value="phone-dont-know-3" data-id="mobile-phone">
							    <label for="phone-dont-know-3"><span>I don't know</span></label>
			      		</li>
			      	</ul>
			      </div>
					</div>
			    <div class="modifiers modifiers-left">
			    	<div class="modifier">
			    		<input id="international-dsn-3" type="checkbox" name="international-dsn-3" value="dns" class="mobile-phone">
					    <label class="simple-checkbox" for="international-dsn-3"><span>This is an international or DSN phone number</span></label>
			    	</div>
			    </div>
			    <div class="usa-grid">
			      <div class="usa-width-one-half">
			        <fieldset class="usa-fielset-inputs">
			          <legend class="label-style">Best time to call</legend>
			          <ul class="usa-list-inline">
			            <li>
			              <input id="day-phone-3" class="mobile-phone" type="radio" name="time-to-call-3" value="day">
			              <label for="day-phone-3"><span>Day</span></label>
			            </li>
			            <li>
			              <input id="night-phone-3" class="mobile-phone" type="radio" name="time-to-call-3" value="night">
			              <label for="night-phone-3"><span>Night</span></label>
			            </li>
			            <li>
			              <input id="day-night-phone-3" class="mobile-phone" type="radio" name="time-to-call-3" value="both">
			              <label for="day-night-phone-3"><span>Both</span></label>
			            </li>
			          </ul>
			        </fieldset>
			      </div>
			    </div>
			  </fieldset>
			  <!-- Mobile phone end -->
			  <!-- Email address -->
			  <div class="usa-form-control">
			  	<label for="email-address" class="usa-alt-label">
			  		<span>Provide this person's email address</span>
			  		<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
			  	</label>
			  	<input type="email" class="person-know-well-email">
			  	<div class="modifiers modifiers-left">
			  		<div class="modifier">
			  			<span>or</span>
			  		</div>
			  		<div class="modifier">
			  			<input class="disabled-toggle" id="dont-know-phone" type="checkbox" name="dont-know-phone" data-id="person-know-well-email">
		          <label for="dont-know-phone"><span>I don't know</span></label>
			  		</div>
			  	</div>
			  </div>
			  <!-- Email address end -->
			  <!-- Persons address -->
			  <fieldset id="address-block" class="usa-fieldset-inputs">
			    <legend>
			    	<span>Provide street address for this person</span>
			    	<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	            <i class="fas fa-question-circle"></i>
	          </a>
			    </legend>
			    <fieldset class="usa-fieldset-inputs">
			      <legend class="label-style">This address is</legend>
			      <ul class="usa-list-inline usa-list-inline-justified">
			        <li>
			          <input id="inside-us-radio-2" type="radio" name="address-type-2" value="inside-us-radio-2" checked>
			          <label for="inside-us-radio-2"><span>In the U.S.</span></label>
			        </li>
			        <li>
			          <input id="outside-us-radio-2" type="radio" name="address-type-2" value="outside-us-radio-2">
			          <label for="outside-us-radio-2"><span>Outside the U.S.</span></label>
			        </li>
			        <li>
			          <input id="apo-fpo-dpo-radio-2" type="radio" name="address-type-2" value="apo-fpo-dpo-radio-2">
			          <label for="apo-fpo-dpo-radio-2"><span>APO/FPO/DPO</span></label>
			        </li>
			      </ul>
			    </fieldset>

			    <!-- Inside U.S. fields -->
			    <div class="inside-us-fields">
			      <div class="usa-form-control">
			        <label for="mailing-address-1" class="address-block">Street address</label>
			        <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
			        <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="city" class="address-block">City</label>
			        <input id="city" name="city" type="text" class="address-block">
			      </div>
			      <div class="usa-grid address-block">
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="state">State</label>
			            <input id="state" name="state" type="text">
			          </div>
			        </div>
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="zip">Zip</label>
			            <input id="zip" name="zip" type="zip">
			          </div>
			        </div>
			      </div>
			    </div>
			    <!-- Inside U.S. fields end -->
			    <!-- Outside U.S. fields -->
			    <div class="outside-us-fields">
			      <div class="usa-form-control">
			        <label for="mailing-address-1" class="address-block">Street address</label>
			        <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
			        <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="city" class="address-block">City</label>
			        <input id="city" name="city" type="text" class="address-block">
			      </div>
			      <div class="usa-form-control">
			        <label for="country" class="address-block">Country</label>
			        <select name="country" id="country" class="address-block">
			          <option value="United States of America">United States of America</option>
			          <option value="Another country">Another country</option>
			          <option value="Another country">Another country</option>
			        </select>
			      </div>
			    </div>
			    <!-- Outside U.S. fields end -->
			    <!-- APO/FPO/DPO fields -->
			    <div class="apo-fpo-dpo-fields">
			      <div class="usa-form-control">
			        <label for="address" class="apo-fpo-dpo-address-block">Address</label>
			        <input type="text" class="apo-fpo-dpo-address-block">
			      </div>
			      <label for="" class="apo-fpo-dpo-address-block">Select APO, FPO, DPO</label>
			      <ul class="usa-list-inline usa-list-inline-justified apo-fpo-dpo-address-block">
			        <li>
			          <div class="usa-form-controlk">
			            <input id="apo" type="radio" name="apo-fpo-dpo" value="APO">
			            <label for="apo"><span>APO</span></label>
			          </div>
			        </li>
			        <li>
			          <div class="usa-form-control">
			            <input id="fpo" type="radio" name="apo-fpo-dpo" value="FPO">
			            <label for="fpo"><span>FPO</span></label>
			          </div>
			        </li>
			         <li>
			          <div class="usa-form-control">
			            <input id="dpo" type="radio" name="apo-fpo-dpo" value="DPO">
			            <label for="dpo"><span>DPO</span></label>
			          </div>
			        </li>
			      </ul>
			      <div class="usa-grid apo-fpo-dpo-address-block">
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="apo-fpo-dpo-code">APO/FPO/DPO State Code</label>
			            <input type="text">
			          </div>
			        </div>
			        <div class="usa-width-one-half">
			          <div class="usa-form-control">
			            <label for="apo-fpo-dpo-zip-code">Zip Code</label>
			            <input type="text">
			          </div>
			        </div>
			      </div>
			    </div>
			    <!-- APO/FPO/DPO fields end -->
			  </fieldset>
			  <!-- Persons address end -->
	    </div>
	  </li>
	</ul>

	<!-- Additional residences -->
	<fieldset class="usa-fieldset-inputs usa-sans">
    <legend>Do you have an additional residence to report?</legend>
    <ul class="usa-list-inline-justified usa-list-inline">
      <li>
        <input id="yes-2" type="radio" name="additional-residence" >
        <label for="yes-2"><span>Yes</span></label>
      </li>
      <li>
        <input id="no-2" type="radio" name="additional-residences" >
        <label for="no-2"><span>No</span></label>
      </li>
    </ul>
  </fieldset>
  <!-- Additional residences end -->
  <!-- Back/next block -->
  <div class="next-back-block">
  	<% link_to '/example-form/your-history/introduction.html', :class => "usa-button back-button" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Introduction</div>
    <% end %>
    <% link_to '/example-form/your-history/employment-activities.html', :class => "usa-button next-button" do %>
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Employment activiies</div>
    <% end %>
  </div>
</form>