---
layout: "example-form-layout"
title: eApp Design System | Example form
---

<div class="eapp-form-wrapper usa-content">
	<form action="" class="eapp-form">
		<h1 class="eapp-section-header">Where You Have Lived</h1>
		<h2>List the places where you have lived beginning with your present residence and working back 10 years.</h2>
		<p>Residences for the entire period must be accounted for without breaks.</p>
		<ul>
			<li><strong>Indicate the actual physical location of your residence</strong>, not a Post Office box or a permanent residence when you were not physically located there.</li>
			<li><strong>If you split your time between one or more residences during a time period</strong>, you must list all residences.</li>
			<li><strong>Do not list residences before your 18th birthday</strong> unless to provide a minimum of 2 years residence history.</li>
		</ul>
		<div class="usa-timeline-block">
			<div class="usa-timeline-content">
				<span class="usa-timeline-icon">
					<i class="fas fa-home fa-3x"></i>
				</span>
				<span class="usa-timeline-title">
					<strong>Where you have lived</strong>
				</span>
				<div class="usa-timeline-progress">
					<div class="usa-timeline-progress-filled"></div>
				</div>
			</div>
			<div class="usa-counter">
				<div class="usa-counter-fraction">
					<span class="completed">0</span>
					<span class="slash">/</span>
					<span class="total">10</span>
				</div>
				<div class="usa-counter-unit">
					Years covered
				</div>
			</div>
		</div>
	</form>
</div>