// Accordion

.usa-accordion-bordered {
  margin-bottom: 5rem;

  li {
    margin-bottom: 2rem;
  }
}

.usa-accordion-header {
  display: flex;
  position: sticky;
  top: 57px;
  z-index: 999;

  @media all and (max-width: 980px) {
    top: 107px;
  }

  .title:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.usa-accordion-header-label {
  font-weight: 400;
}

.usa-accordion-button {
  background-image: none;
  position: relative;
  color: $color-primary;
  padding: 2rem 6rem 2rem 2rem;
  display: flex;
  align-items: center;

  .titles {
    width: 100%;
  }

  .titles .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .title-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title-left {
    text-align: right;
  }
}

.usa-accordion-button:hover {
  color: $color-primary;
}

.usa-accordion-close-button {
  position: absolute;
  right: 1.5rem;
  text-align: center;
  font-weight: normal;
  display: inline-block;
  width: 4rem;
}

.usa-accordion-button[aria-expanded=false] {
  background-image: none;
}

.usa-accordion-button .accordion-title {
  font-weight: normal;
  margin-right: 1rem;
}

.usa-accordion-remove-button {
  margin: 0;
  border-radius: 0;
  padding: 0 2rem;
  background-color: $color-gray-light;
  font-weight: normal;
}

.usa-accordion-remove-button:hover {
  background-color: $color-secondary;
}

.usa-accordion-content {
  padding: 4rem;
}

.usa-accordion-button[aria-expanded="true"] .usa-accordion-close-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  font-weight: 900;
}

.usa-accordion-button[aria-expanded="false"] .usa-accordion-close-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
}

.usa-content ol:not(.usa-accordion):not(.usa-accordion-bordered), .usa-content p, .usa-content ul:not(.usa-accordion):not(.usa-accordion-bordered) {
  max-width: 100%;
}


// Timeline proto 3
.accordion-timeline > li {
  background: $color-white;
  padding: 0 0 0 2rem;
  border-left: 3px solid $color-green-light;
  margin-left: 5rem;
  margin-bottom: 0;
  position: relative;
  width: auto;

  &.timeline-entry-empty {
    border-left: 3px dotted $color-gray-light;
    height: 10rem;

    &:first-of-type:before,
    &:last-of-type:after {
      background-color: $color-gray-light;
      border-color: $color-gray-light;
    }
  }

  .year-start {
    position: absolute;
    left: -5rem;
    top: -1.4rem;
  }

  .year-end {
    position: absolute;
    left: -5rem;
    bottom: -1.4rem;
  }

  &:before,
  &:last-of-type:after {
    content: '';
    height: 1.4rem;
    width: 1.4rem;
    background: $color-green-light;
    border: 2px solid $color-green;
    border-radius: 50%;
    position: absolute;
    left: -8px;
  }

  &:before {
    top: -8px;
  }

  &:last-of-type:after {
    bottom: -8px;
  }

  .usa-accordion-header {
    padding: 1rem 0;
  }
}

// Mobile styles

@media all and (max-width: 575px) {
  .usa-accordion-button,
  .usa-accordion-content {
    padding: 2rem;
  }

  .usa-accordion-button {
    width: 85%;
  }

  .usa-accordion-remove-button {
    width: 15%;

    .remove {
      display: none;
    }
  }

  .title-right {
    width: 90%;
  }

  .title-left {
    display: none;
  }
}
