.from-to-dates {
  display: flex;
  flex-direction: row;

  @media all and (max-width: 980px) {
    display: block;
  }

  p {
    margin-top: 0;
  }
}

.from-date-container {
  @media all and (max-width: 980px) {
    margin-bottom: 4rem;
  }
}

.m-d-y-block {
  display: flex;
  align-items: center;

  .usa-form-control {
    margin-right: 1rem;
    margin-bottom: 0;
    width: 7rem;

    @media all and (max-width: 980px) {
      width: 33.3%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.from-to-date-arrow,
.or {
  text-align: center;
}

.from-to-date-arrow {
  padding-top: 7.5rem;
  width: 9rem;

  @media all and (max-width: 980px) {
    display: none;
  }
}

.or {
  padding-top: 8.5rem;
  width: 3rem;

  @media all and (max-width: 980px) {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
}

.present {
  margin-top: 7.5rem;

  @media all and (max-width: 980px) {
    margin-top: 1rem;
  }
}
