// Checkbox/Radio button styles

[type=checkbox]+label,
[type=radio]+label{
  padding: 1rem;
  border: 1px solid $color-primary-alt-light;
  border-radius: 4px;
  max-width: 46rem;
  background-color: $color-white;

  &:hover {
    background-color: $color-gray-extra-lightest;
  }
}

[type=checkbox]+label.simple-checkbox,
[type=radio]+label.simple-checkbox {
  border: none;
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

[type=checkbox]:checked+label,
[type=radio]:checked+label {
  background: $color-primary-alt-lightest;
  border-color: $color-primary-alt-dark;
}

[type=checkbox]:checked+label.simple-checkbox,
[type=radio]:checked+label.simple-checkbox {
  background: none;
  border: none;
}

[type=checkbox]:disabled+label,
[type=radio]:disabled+label {
  border-color: $color-gray-lighter;
  opacity: .35;
  cursor: not-allowed;

  &:hover {
    background-color: $color-white;
  }
}

[type=checkbox]+label:before,
[type=radio]+label:before{
  position: absolute;
}

[type=radio]+label:before {
  margin-top: 6px;
}

[type=checkbox]+label:before {
  margin-top: 2px;
}

[type=checkbox]+label span,
[type=radio]+label span{
  padding-left: 3rem;
  display: block;
}

.usa-checkbox-radio-error [type=checkbox]+label,
.usa-checkbox-radio-error [type=radio]+label {
  border: 3px solid $color-secondary;
}

// Inputs and selects

label {
  margin-top: 1.5rem;
  width: 100%;
}

input,
select,
textarea {
  margin-top: .5rem;
  margin-bottom: 1rem;
  max-width: 64rem;
  border-color: $color-gray-light;
  border-radius: 4px;
}

input:disabled,
select:disabled {
  opacity: .35;
  cursor: not-allowed;
}

.usa-form-control,
fieldset {
  margin-bottom: 8rem;
  max-width: 64rem;
}

.usa-dollar-input {
  display: flex;

  .dollar-icon {
    background: $color-gray-lightest;
    height: 4.4rem;
    margin-top: .5rem;
    padding: 1rem;
    border: 1px solid $color-gray-light;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  input[type="number"] {
    border-radius: 0 4px 4px 0;
  }
}

// Input sizing

.usa-small-input {
  width: 10rem;
}

.usa-medium-input {
  width: 30rem;
}

@media all and (max-width: 980px) {
  .usa-medium-input,
  .usa-small-input {
    width: 100%;
  }
}

// Input modifiers

.modifiers {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.modifiers-left {
  justify-content: flex-start;

  .modifier {
    margin-left: 0;
    margin-right: 1rem;
  }
}

.modifier {
  margin-left: 1rem;

  label {
    margin: 0;
  }
}

// Fieldsets

fieldset {

  .usa-grid {
    padding-right: 0;
    padding-left: 0;
    max-width: 64rem;
    margin: 0;
  }
  
  fieldset,
  .usa-form-control {
    margin-bottom: 2rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

legend,
.usa-alt-label {
  font-size: 1.7rem;
  font-weight: 900;
  font-family: "Merriweather";
  line-height: 1.3em;
  margin-bottom: 2rem;
  max-width: 100%;
}

legend.label-style {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Source Sans Pro"
}

// Input validation

.usa-input-error {
  border: none;
  margin: 0;
  padding: 0;
  right: 0;
}

.usa-input-error label {
  margin-top: 1.5rem;
}

.usa-input-error::before {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  color: $color-secondary;
  font-weight: 900;
  content: "\f06a";
  right: 12px;
  bottom: 14px;
}

.usa-input-success {
  position: relative;

  input {
    border: 3px solid $color-green;
  }
}

.usa-input-success::before {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  color: $color-green;
  font-weight: 900;
  content: "\f058";
  right: 12px;
  bottom: 14px;
}

.usa-input-error-message {
  padding: 5px 8px;
  background: $color-secondary-lightest;
  margin: .5rem 0 1rem 0;
}

// Jquery UI type ahead

.ui-menu {
  max-width: 64rem;
  background: $color-white;
  border: 1px solid $color-gray-lighter;
  border-radius: 6px;
  list-style: none;
  padding-left: 0;
}

.ui-menu-item {
  margin-bottom: 0;
}

.ui-menu-item-wrapper {
  padding: 1rem;
}

.ui-state-active {
  background-color: $color-gray-extra-lightest;
}