// Phone number block

.usa-phone-number-block {
	margin-bottom: .5rem;
	display: flex;
	align-items: center;

	@media all and (max-width: 980px) {
	  flex-flow: row wrap;
  }

	.usa-phone-number-input,
	.usa-extension-input,
	.usa-phone-type-input {
		margin-right: 1rem;
	}

	.usa-phone-number-input {
		width: 45%;
		display: flex;
		align-items: center;
		flex-flow: wrap;

		.area-code,
		.prefix {
			flex: 1;
			margin-right: 1rem;
		}

		.line-number {
			flex: 2;
		}

		.label {
			width: 100%;
		}
		
		@media all and (max-width: 980px) {
		  width: 100%;
	  }
	}

	.usa-extension-input {
		width: 15%;

		@media all and (max-width: 980px) {
		  width: 100%;
	  }
	}

	.usa-phone-type-input {
		width: 15%;

		@media all and (max-width: 980px) {
		  width: 100%;
	  }
	}
}

.phone-format {
	margin-bottom: 2rem;
}

.usa-phone-dont-know {
	margin-top: 3rem;
	width: 35%;

	@media all and (max-width: 980px) {
		margin: 2rem 0;
	  width: 100%;
  }
}

.usa-phone-number-block + .modifiers {
	margin-bottom: 3rem;
	width: 100%;
}

#phone-time {
  margin-top: 2.5rem;
}
