// Phone number block

#phone-number-block,
#dsn-phone-number-block {
  margin: 2rem 0 1rem 0;
}

#dsn-phone-number-block ul li input {
    margin-bottom: 0;
}

#dsn-dash {
  width: 2rem;
  padding-top: 1.5rem;
  text-align: center;
}

#phone-time {
  margin-top: 2.5rem;
}
