.usa-eapp-save {
	background-color: $color-primary-darkest;
	border: 1px solid $color-primary-alt-dark;
	border-radius: 6px 0 0 6px;
	padding: .5rem;
	color: $color-white;
	width: 20rem;
	height: 5rem;
	font-size: 1.4rem;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	margin: 0;
	z-index: 9999;
	display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;

	&:hover {
		background-color: $color-white;
		border: 1px solid $color-primary-alt-dark;
		color: $color-gray;
		transition: all .25s;
	}
}

.usa-eapp-save-icon {
	margin-right: 1rem;

	.fa-circle {
		color: $color-primary;
	}
}