// Timeline block

.usa-timeline-block {
	display: flex;
	color: $color-gray;
	margin: 4rem 0 2rem 0;
	padding: 1.5rem;
	border: 1px solid $color-gray-lighter;
	border-radius: 4px;
	background-color: $color-white;
	align-items: center;

	@media all and (max-width: 980px) {
    display: block;
  }
}

.usa-timeline-content {
	width: 80%;
	margin-right: 1rem;

	@media all and (max-width: 980px) {
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

.usa-timeline-block .usa-counter {
	width: 20%;

	@media all and (max-width: 980px) {
    width: 100%;
  }
}

.usa-timeline-icon {
	color: $color-primary-alt;
}

.usa-timeline-stats {
	width: 20%;
}

.title-right {
	width: 35rem;
}

.usa-timeline-title {
	margin-left: 1rem;
}

.usa-timeline-progress {
	height: .5rem;
	width: 100%;
	background-color: $color-gray-cool-light;
	margin-top: 1rem;
	position: relative;

	// Proto styles
	&.timeline-proto {
		height: 2.25rem;
	}
}

.usa-timeline-progress-filled {
	position: absolute;
	height: 100%;
	background-color: $color-green-light;
	width: 0;
	top: 0;
	left: 0;
	
	// Proto styles
	&.timeline-proto {
		background-color: $color-green-light;
		border: 2px solid $color-green;
		color: $color-white;
		text-align: center;
		font-size: 1.4rem;
		cursor: pointer;

		&:hover {
			transform: scaleY(1.2);
			transition: transform 0.3s;
			background-color: $color-green;
		}

		span:hover {
			transform: scale(1.2);
		}
	}
}

.usa-timeline-min-max {
	width: 100%;
	margin-top: .5rem;

	span {
		font-weight: bold;
	}

	.max {
		float: right;
	}
}

// Counter block

.usa-counter {
	text-align: center;
	font-weight: bold;
	margin-bottom: 1rem;
	color: $color-gray;
}

.usa-counter-fraction {
	font-size: 3.5rem;
}

.usa-counter-large {
	.usa-counter-fraction {
		font-size: 5rem;
	}

	.usa-counter-unit {
		font-size: 2rem;
	}
}

// Proto vertical timeline
.proto-vertical-timeline-container {
	width: 100%; 

	.proto-vertical-timeline-entry {
		display: flex;

		&:last-child .timeline-entry {
			border-bottom: 2px dotted $color-gray-lighter;

			&:after {
				content: '';
				height: 1rem;
				width: 1rem;
				background: $color-green;
				border-radius: 50%;
				position: absolute;
				bottom: -6px;
				left: -6px;
			}
		}

		.date {
			width: 10%;
			position: relative;

			.start {
				margin-top: -10px;
			}

			.end {
				position: absolute;
				bottom: -10px;
			}
		}

		.timeline-entry {
			width: 90%;
			display: flex;
			align-items: center;
			border-top: 2px dotted $color-gray-lighter;
			border-left: 2px solid $color-green;
			padding: 0 1rem 0 2rem;
			position: relative;
			justify-content: space-between;

			&:before {
				content: '';
				height: 1rem;
				width: 1rem;
				background: $color-green;
				border-radius: 50%;
				position: absolute;
				top: -6px;
				left: -6px;
			}

			.address {
				width: 35rem;
				white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
			}

			.address-dates-left {
				width: 20rem;
				text-align: right;
			}

			.entry-actions  {

				i {
					margin-left: 3rem;
				}

				.fa-trash {
					color: $color-secondary;
				}
			}
		}

		.timeline-entry-empty {
			border-left: 2px dotted $color-gray-lighter;
		}
	}
}

