// Timeline block

.usa-timeline-block {
	display: flex;
	color: $color-gray;
	margin: 4rem 0 2rem 0;
	padding: 1.5rem;
	border: 1px solid $color-gray-lighter;
	border-radius: 4px;
}

.usa-timeline-content {
	width: 80%;
	margin-right: 1rem;
}

.usa-timeline-block .usa-counter {
	width: 20%;
}

.usa-timeline-icon {
	color: $color-primary-alt;
}

.usa-timeline-stats {
	width: 20%;
}

.usa-timeline-title {
	margin-left: 1rem;
}

.usa-timeline-progress {
	height: .5rem;
	width: 100%;
	background-color: $color-gray-cool-light;
	margin-top: 1rem;
	position: relative;
}

.usa-timeline-progress-filled {
	position: absolute;
	height: 100%;
	background-color: $color-green-light;
	width: 0;
	top: 0;
	left: 0
}

// Counter block

.usa-counter {
	text-align: center;
	font-weight: bold;
	margin-bottom: 1rem;
	color: $color-gray;
}

.usa-counter-fraction {
	font-size: 3.5rem;
}

.usa-counter-large {
	.usa-counter-fraction {
		font-size: 5rem;
	}

	.usa-counter-unit {
		font-size: 2rem;
	}
}
