// Primary colors

$color-primary: #0071bc;
$color-primary-darker: #205493;
$color-primary-darkest: #112e51;
$color-base: #212121;
$color-white: #ffffff;

// Secondary colors

$color-primary-alt: #02bfe7;
$color-primary-alt-darkest: #046b99;
$color-primary-alt-dark: #00a6d2;
$color-primary-alt-light: #9bdaf1;
$color-primary-alt-lightest: #e1f3f8;
$color-secondary: #e31c3d;
$color-secondary-darkest: #981b1e;
$color-secondary-dark: #cd2026;
$color-secondary-light: #e59393;
$color-secondary-lightest: #f9dede;

// Background colors

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b;
$color-gray-medium:          #757575;
$color-gray-light:           #aeb0b5;
$color-gray-lighter:         #d6d7d9;
$color-gray-lightest:        #f1f1f1;
$color-gray-extra-lightest:  #fbfbfb;
$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0;
$color-gray-cool-light:      #dce4ef;

// Tertiary colors

$color-gold:                 #fdb81e;
$color-gold-light:           #f9c642;
$color-gold-lighter:         #fad980;
$color-gold-lightest:        #fff1d2;
$color-green:                #2e8540;
$color-green-light:          #4aa564;
$color-green-lighter:        #94bfa2;
$color-green-lightest:       #e7f4e4;
$color-cool-blue:            #205493;
$color-cool-blue-light:      #4773aa;
$color-cool-blue-lighter:    #8ba6ca;
$color-cool-blue-lightest:   #dce4ef;
$color-purple:               #4c2c92;

// Typography

$h1-font-size:        3rem !default;
$h2-font-size:        2.5rem !default;
$h3-font-size:        2rem !default;
$h4-font-size:        1.7rem !default;
$h5-font-size:        1.3rem !default;
$h6-font-size:        1rem !default;
