<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/1.6.8/css/uswds.min.css">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header class="usa-header site-header">
      <div class="usa-navbar siate-header-navbar">
        <div class="usa-logo site-logo">
          <em class="usa-logo-text">
            eApp Styleguide
          </em>
        </div>
      </div>
    </header>

    <section class="sidenav">
      <nav>
        <ul class="usa-sidenav-list">
          <li>
            <a href="" class="usa-current">Introduction</a>
          </li>
          <li>
            <a href="">Another section</a>
          </li>
          <li>
            <a href="">Another section</a>
          </li>
          <li>
            <a href="">Another section</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="main-content">
      <%= partial "intro" %>
    </section>
  </body>
</html>
