<div class="eapp-header">
	<div class="eapp-header-logo">
		<a href="" class="eapp-sidenav-mobile-toggle">
			<i class="fas fa-bars"></i>
		</a>
		<% link_to '../index.html' do %>
		  <%= image_tag 'nbis-seal.png' %>
		<% end %>
		<span class="eapp-header-form-title">SF85</span>
	</div>
	<div class="eapp-header-title">
		<span class="eapp-header-section-title"></span>
	</div>
	<div class="eapp-progress">
		<div class="eapp-progress-current"></div>
	</div>
</div>