<div class="eapp-sidenav-wrapper">
  <div class="eapp-form-progress-counter usa-counter usa-counter-large">
    <div class="usa-counter-fraction">
      <span class="completed">0</span>
      <span class="slash">/</span>
      <span class="total">10</span>
    </div>
    <div class="usa-counter-unit">
      Sections complete
    </div>
  </div>
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a class="usa-sidenav-toggle usa-sidenav-section" aria-expanded="false" href="">
          <span class="usa-sidenav-section-name">Information about you</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a href="" class="usa-sidenav-section usa-sidenav-toggle usa-current" aria-expanded="true">
          <span class="usa-sidenav-section-name">Your history</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
        <ul class="usa-sidenav-sub_list" style="display: block;">
          <li>
            <% link_to 'introduction.html' do %>
              <span>Introduction</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'where-you-have-lived.html' do %>
              <span>Where you have lived</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'employment-activities.html' do %>
              <span>Employment activities</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'where-you-went-school.html' do %>
              <span>Where you went to school</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'former-federal-service.html' do %>
              <span>Former federal service</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <a href="">
              <span>Review</span>
              <span class="usa-sidenav-status-icon"></span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Relationships</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Citizenship</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Miliary history</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Foreign associations</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Financial record</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Substance abuse</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Investigative and criminal history</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Psychological and emotional health</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Review and submit</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
    </ul>
  </nav>
</div>