<div class="eapp-sidenav-wrapper">
  <div class="eapp-form-progress-counter usa-counter usa-counter-large">
    <div class="usa-counter-fraction">
      <span class="completed">0</span>
      <span class="slash">/</span>
      <span class="total">10</span>
    </div>
    <div class="usa-counter-unit">
      Sections complete
    </div>
  </div>
  <nav>
    <ul class="usa-sidenav-list">
      <li class="usa-sidenav-section-container">
        <a class="usa-sidenav-toggle usa-sidenav-section" aria-expanded="false" href="">
          <span class="usa-sidenav-section-name">Information about you</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
        <ul class="usa-sidenav-sub_list">
          <li>
            <% link_to 'about-you-introduction.html' do %>
              <span>Introduction</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'full-name.html' do %>
              <span>Full name</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'other-names-used.html' do %>
              <span>Other names used</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'contact-info.html' do %>
              <span>Your contact information</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'date-of-birth.html' do %>
              <span>Date of birth</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'place-of-birth.html' do %>
              <span>Place of birth</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'social-security-number.html' do %>
              <span>Social security number</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'identifying-info.html' do %>
              <span>Your identifying information</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
        </ul>
      </li>
      <li class="usa-sidenav-section-container">
        <a href="" class="usa-sidenav-section usa-sidenav-toggle" aria-expanded="false">
          <span class="usa-sidenav-section-name">Your history</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
        <ul class="usa-sidenav-sub_list">
          <li>
            <% link_to 'your-history-introduction.html' do %>
              <span>Introduction</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'where-you-have-lived.html' do %>
              <span>Where you have lived</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'employment-activities.html' do %>
              <span>Employment activities</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <% link_to 'where-you-went-school.html' do %>
              <span>Where you went to school</span>
              <span class="usa-sidenav-status-icon"></span>
            <%end%>
          </li>
          <li>
            <a href="">
              <span>Review</span>
              <span class="usa-sidenav-status-icon"></span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Citizenship</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Miliary history</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Foreign associations</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Financial record</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Substance abuse</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Investigative and criminal history</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
      <li>
        <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
          <span class="usa-sidenav-section-name">Review and submit</span>
          <span class="usa-sidenav-status-icon"></span>
        </a>
      </li>
    </ul>
  </nav>
</div>