---
layout: "example-form-layout"
title: eApp Design System | Example form
---

<form action="" class="eapp-form" data-id="Section 1: Information About You - Your Contact Information">
	<h1 class="eapp-section-header">Your Contact Information</h1>
	<!-- Email addresses -->
	<fieldset class="usa-fieldset-inputs">
		<legend>
			<span>Your email addresses</span>
			<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	      <i class="fas fa-question-circle"></i>
	    </a>
		</legend>
		<p>Email addresses may be used as contact method, and identify subject in records.</p>
		<div class="usa-form-control">
			<label for="home-email">Home email address</label>
			<input type="text" id="home-email">
		</div>
		<div class="usa-form-control">
			<label for="work-email">Work email address</label>
			<input type="text" id="work-email">
		</div>
	</fieldset>
	<!-- Email addresses end -->
	<!-- Phone numbers intro -->
	<h4>
		<span>Your phone numbers</span>
		<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
      <i class="fas fa-question-circle"></i>
    </a>
	</h4>
	<p>Provide three contact numbers. <strong>At least one number is required</strong>. Additional numbers may assist in the completion of your background investigation.</p>
	<!-- Phone numbers intro end -->
	<!-- Home phone -->
	<fieldset class="usa-fieldset-inputs">
    <legend>Home telephone number</legend>
    <div class="usa-phone-number-block">
      <div class="usa-phone-number-input">
        <label for="phone-number">Phone number</label>
        <input type="text" name="phone-number" class="phone-input">
      </div>
      <div class="usa-extension-input">
        <label for="extension">Extension</label>
        <input type="text" name="extension" class="phone-input">
      </div>
    </div>
    <div class="modifiers modifiers-left">
      <div class="modifier">
        <input id="international-dsn-3" type="checkbox" name="international-dsn-3" value="dns" class="phone-input">
        <label class="simple-checkbox" for="international-dsn-3"><span>This is an international or DSN phone number</span></label>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <fieldset class="usa-fielset-inputs">
          <legend class="label-style">Best time to call</legend>
          <ul class="usa-list-inline">
            <li>
              <input id="day-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="day">
              <label for="day-phone-3"><span>Day</span></label>
            </li>
            <li>
              <input id="night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="night">
              <label for="night-phone-3"><span>Night</span></label>
            </li>
            <li>
              <input id="day-night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="both">
              <label for="day-night-phone-3"><span>Both</span></label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <!-- Home phone end -->
  <!-- Work phone -->
  <fieldset class="usa-fieldset-inputs">
    <legend>Work telephone number</legend>
    <div class="usa-phone-number-block">
      <div class="usa-phone-number-input">
        <label for="phone-number">Phone number</label>
        <input type="text" name="phone-number" class="phone-input">
      </div>
      <div class="usa-extension-input">
        <label for="extension">Extension</label>
        <input type="text" name="extension" class="phone-input">
      </div>
    </div>
    <div class="modifiers modifiers-left">
      <div class="modifier">
        <input id="international-dsn-3" type="checkbox" name="international-dsn-3" value="dns" class="phone-input">
        <label class="simple-checkbox" for="international-dsn-3"><span>This is an international or DSN phone number</span></label>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <fieldset class="usa-fielset-inputs">
          <legend class="label-style">Best time to call</legend>
          <ul class="usa-list-inline">
            <li>
              <input id="day-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="day">
              <label for="day-phone-3"><span>Day</span></label>
            </li>
            <li>
              <input id="night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="night">
              <label for="night-phone-3"><span>Night</span></label>
            </li>
            <li>
              <input id="day-night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="both">
              <label for="day-night-phone-3"><span>Both</span></label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <!-- Work phone end -->
  <!-- Mobile phone -->
  <fieldset class="usa-fieldset-inputs">
    <legend>Mobile/cell telephone number</legend>
    <div class="usa-phone-number-block">
      <div class="usa-phone-number-input">
        <label for="phone-number">Phone number</label>
        <input type="text" name="phone-number" class="phone-input">
      </div>
      <div class="usa-extension-input">
        <label for="extension">Extension</label>
        <input type="text" name="extension" class="phone-input">
      </div>
    </div>
    <div class="modifiers modifiers-left">
      <div class="modifier">
        <input id="international-dsn-3" type="checkbox" name="international-dsn-3" value="dns" class="phone-input">
        <label class="simple-checkbox" for="international-dsn-3"><span>This is an international or DSN phone number</span></label>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <fieldset class="usa-fielset-inputs">
          <legend class="label-style">Best time to call</legend>
          <ul class="usa-list-inline">
            <li>
              <input id="day-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="day">
              <label for="day-phone-3"><span>Day</span></label>
            </li>
            <li>
              <input id="night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="night">
              <label for="night-phone-3"><span>Night</span></label>
            </li>
            <li>
              <input id="day-night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="both">
              <label for="day-night-phone-3"><span>Both</span></label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <!-- Mobile phone end -->
	<!-- Back/next -->
	<div class="next-back-block">
  	<% link_to '/example-form/other-names-used.html', :class => "usa-button back-button" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Other names used</div>
    <% end %>
    <% link_to '/example-form/date-of-birth.html', :class => "usa-button next-button" do %>
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Date of birth</div>
    <% end %>
  </div>
</form>