---
layout: "example-form-layout"
title: eApp Design System | Example form
---

<form action="" class="eapp-form" data-id="Section 1: Information about you">
	<h1 class="eapp-section-header">Date of Birth</h1>
	<!-- Date of birth -->
	<fieldset class="usa-fieldset-inputs">
		<legend>
			<span>Provide your date of birth</span>
			<a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;">
	      <i class="fas fa-question-circle"></i>
	    </a>
		</legend>
		<div class="m-d-y-block">
      <div class="usa-form-control">
        <label for="month">Month</label>
        <input type="text" id="month" maxlength="2">
      </div>
      <div class="usa-form-control">
        <label for="day">Day</label>
        <input type="text" id="day" maxlength="2">
      </div>
      <div class="usa-form-control">
        <label for="year">Year</label>
        <input type="text" id="year" maxlength="4">
      </div>
      <div class="modifiers">
        <div class="modifier">
          <input id="estimated" type="checkbox" name="estimated">
          <label class="simple-checkbox" for="estimated"><span>Estimated</span></label>
        </div>
      </div>
    </div>
	</fieldset>
	<!-- Date of birth end -->
	<!-- Back/next -->
	<div class="next-back-block">
  	<% link_to '/example-form/contact-info.html', :class => "usa-button back-button" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Contact information</div>
    <% end %>
    <% link_to '/example-form/place-of-birth.html', :class => "usa-button next-button" do %>
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Place of birth</div>
    <% end %>
  </div>
  <!-- Back/next end -->
</form>