---
layout: "example-form-layout"
title: eApp SF-85
---

<form action="" class="eapp-form" data-id="Section 1: Information About You - Social Security Number">
	<h1 class="eapp-section-header">Social Security Number</h1>
	<!-- Social security number -->
  <fieldset class="usa-fieldset-inputs">
  	<legend>
      <span>Provide your U.S. Social Security Number</span>
      <a class="usa-help-icon usa-help-trigger" href="#" onclick="return false;" data-id="ssn-help">
        <i class="fas fa-question-circle"></i>
      </a>
    </legend>
    <div class="help-block ssn-help"></div>
  	<div class="usa-form-control">
  		<label for="ssn">
  			<span>Social Security Number</span>
  		</label>
  		<input type="text" id="ssn" class="ssn">
  		<div class="modifiers modifiers-left">
        <div class="modifier">
          <span>or</span>
        </div>
        <div class="modifier">
          <input class="disabled-toggle" id="i-dont-know" type="checkbox" name="i-dont-know" data-id="ssn">
          <label for="i-dont-know"><span>Not applicable</span></label>
        </div>
      </div>
  	</div>
  	
  	<div class="usa-form-control">
  		<label for="ssn-confirm">Please confirm your Social Security Number</label>
  		<input type="text" id="ssn-confirm">
  	</div>
  </fieldset>
	<!-- Social security number end -->
	<!-- Back/next -->
	<div class="next-back-block">
  	<% link_to '/example-form/place-of-birth.html', :class => "usa-button back-button" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Place of birth</div>
    <% end %>
    <% link_to '/example-form/identifying-info.html', :class => "usa-button next-button" do %>
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Your identifying information</div>
    <% end %>
  </div>
  <!-- Back/next end -->
</form>