---
layout: "example-form-layout"
title: eApp SF-85
---
<div class="eapp-form" data-id="Section 1: Information About You - Introduction">
	<h1 class="eapp-section-header">Where you have lived</h1>
	<h3>List the places where you have lived beginning with your present residence and working back 10 years.</h3>
	<p>Residences for the entire period must be accounted for without breaks.</p>
	<ul>
		<li><strong>Indicate the actual physical location of your residence</strong>, not a Post Office box or a permanent residence when you were not physically located there.</li>
		<li><strong>If you split your time between one or more residences during a time period</strong>, you must list all residences.</li>
		<li><strong>Do not list residences before your 18th birthday</strong> unless to provide a minimum of 2 years residence history.</li>
	</ul>
	<div class="usa-timeline-block">
		<div class="usa-timeline-content">
			<span class="usa-timeline-icon">
				<i class="fas fa-home fa-3x"></i>
			</span>
			<span class="usa-timeline-title">
				<strong>Where you have lived</strong>
			</span>
		</div>
		<div class="usa-counter">
			<div class="usa-counter-fraction">
				<span class="completed">9</span>
				<span class="slash">/</span>
				<span class="total">10</span>
			</div>
			<div class="usa-counter-unit">
				Years covered
			</div>
		</div>
	</div>
	<div class="usa-grid" style="padding: 0;">
		<div class="usa-width-one-sixth">
			<div class="usa-timeline-vertical-proto">
				<div><strong>2019</strong></div>
				<div class="usa-timeline-vertical-progress">
					<div id="timeline-1" class="usa-timeline-vertical-filled" style="top: 0; height: 50%;"><span>1</span></div>
					<div id="timeline-2" class="usa-timeline-vertical-filled" style="top: 50%; height: 30%;"><span>2</span></div>
					<div id="timeline-3" class="usa-timeline-vertical-filled" style="top: 92%; height: 8%;"><span>3</span></div>
				</div>
				<div><strong>2009</strong></div>
			</div>
		</div>
		<div class="usa-width-five-sixths">
			<p style="margin-bottom: 1rem;"><strong>Summary of places you have lived</strong></p>
			<ul id="accordion" class="usa-accordion-bordered">
				<li id="accordion-1">
			    <div class="usa-accordion-header">
			      <button class="usa-accordion-button"
			        aria-expanded="true"
			        aria-controls="b-a1">
			        <div class="titles">
			          <div class="title">
			            <div class="title-right">
			              <span class="fa-stack" style="position: relative;">
			                <i class="fas fa-circle fa-stack-2x"></i>
			                <span style="color: white; position: absolute; left: 17px;">1</span>
			              </span>
			              <span class="usa-accordion-header-label">Address 1:</span>
			              <span id="header-text">160 Union St, Brooklyn, NY 11215</span>
			            </div>
			            <div class="title-left">
			              <span>5/2015 - 1/2019</span>
			            </div>
			          </div>
			        </div>
			        <div class="usa-accordion-close-button">
			        </div>
			      </button>
			      <button class="usa-accordion-remove-button">
			        <span class="fas fa-times fa-fw"></span>
			        <span class="remove">Remove</span>
			      </button>
			    </div>
				</li>
				<li id="accordion-2">
			    <div class="usa-accordion-header">
			      <button class="usa-accordion-button"
			        aria-expanded="true"
			        aria-controls="b-a1">
			        <div class="titles">
			          <div class="title">
			            <div class="title-right">
			              <span class="fa-stack" style="position: relative;">
			                <i class="fas fa-circle fa-stack-2x"></i>
			                <span style="color: white; position: absolute; left: 17px;">2</span>
			              </span>
			              <span class="usa-accordion-header-label">Address 2:</span>
			              <span id="header-text">355 Bradley St, Brooklyn, NY 11245</span>
			            </div>
			            <div class="title-left">
			            	<span>1/2012 - 3/2015</span>
			            </div>
			          </div>
			        </div>
			        <div class="usa-accordion-close-button">
			        </div>
			      </button>
			      <button class="usa-accordion-remove-button">
			        <span class="fas fa-times fa-fw"></span>
			        <span class="remove">Remove</span>
			      </button>
			    </div>
				</li>
			  <li id="accordion-3">
			    <div class="usa-accordion-header">
			      <button class="usa-accordion-button"
			        aria-expanded="true"
			        aria-controls="b-a1">
			        <div class="titles">
			          <div class="title">
			            <div class="title-right">
			              <span class="fa-stack" style="position: relative;">
			                <i class="fas fa-circle fa-stack-2x"></i>
			                <span style="color: white; position: absolute; left: 17px;">3</span>
			              </span>
			              <span class="usa-accordion-header-label">Address 3:</span>
			              <span id="header-text">10 Wyman Rd, Marblehead, MA 01945</span>
			            </div>
			            <div class="title-left">
			              <span>5/2006 - 12/2010</span>
			            </div>
			          </div>
			        </div>
			        <div class="usa-accordion-close-button">
			        </div>
			      </button>
			      <button class="usa-accordion-remove-button">
			        <span class="fas fa-times fa-fw"></span>
			        <span class="remove">Remove</span>
			      </button>
			    </div>
				</li>
			</ul>
		</div>
	</div>
</div>