---
layout: "example-form-layout"
title: eApp SF-85
---
<div class="eapp-form" data-id="Section 1: Information About You - Introduction">
	<h1 class="eapp-section-header">Where you have lived</h1>
	<h3>List the places where you have lived beginning with your present residence and working back 10 years.</h3>
	<p>Residences for the entire period must be accounted for without breaks.</p>
	<ul>
		<li><strong>Indicate the actual physical location of your residence</strong>, not a Post Office box or a permanent residence when you were not physically located there.</li>
		<li><strong>If you split your time between one or more residences during a time period</strong>, you must list all residences.</li>
		<li><strong>Do not list residences before your 18th birthday</strong> unless to provide a minimum of 2 years residence history.</li>
	</ul>

	<div class="usa-timeline-block">
		<div class="usa-timeline-content">
			<span class="usa-timeline-icon">
				<i class="fas fa-home fa-3x"></i>
			</span>
			<span class="usa-timeline-title">
				<strong>Where you have lived</strong>
			</span>
		</div>
		<div class="usa-counter">
			<div class="usa-counter-fraction">
				<span class="completed">8</span>
				<span class="slash">/</span>
				<span class="total">10</span>
			</div>
			<div class="usa-counter-unit">
				Years covered
			</div>
		</div>
	</div>
	<ul id="accordion" class="usa-accordion-bordered accordion-timeline">
		<li class="timeline-entry-empty">
	  	<span class="year-start"><strong>2019</strong></span>
		</li>
		<li>
			<span class="year-start"><strong>2018</strong></span>
	    <div class="usa-accordion-header">
	      <button class="usa-accordion-button"
	        aria-expanded="false"
	        aria-controls="b-a1">
	        <div class="titles">
	          <div class="title">
	            <div class="title-right">
	              <span class="fa-stack" style="position: relative;">
	                <i class="fas fa-circle fa-stack-2x"></i>
	                <span style="color: white; position: absolute; left: 17px;">1</span>
	              </span>
	              <span class="usa-accordion-header-label">Address 1:</span>
	              <span id="header-text">160 Union St, Brooklyn, NY 11215</span>
	            </div>
	            <div class="title-left">
	              <span>5/2015 - 1/2018</span>
	            </div>
	          </div>
	        </div>
	        <div class="usa-accordion-close-button">
	        </div>
	      </button>
	      <button class="usa-accordion-remove-button">
	        <span class="fas fa-times fa-fw"></span>
	        <span class="remove">Remove</span>
	      </button>
	    </div>
		</li>
		<li>
			<span class="year-start"><strong>2015</strong></span>
	    <div class="usa-accordion-header">
	      <button class="usa-accordion-button"
	        aria-expanded="false"
	        aria-controls="b-a1">
	        <div class="titles">
	          <div class="title">
	            <div class="title-right">
	              <span class="fa-stack" style="position: relative;">
	                <i class="fas fa-circle fa-stack-2x"></i>
	                <span style="color: white; position: absolute; left: 17px;">2</span>
	              </span>
	              <span class="usa-accordion-header-label">Address 2:</span>
	              <span id="header-text">355 Bradley St, Brooklyn, NY 11245</span>
	            </div>
	            <div class="title-left">
	              <span>1/2012 - 3/2015</span>
	            </div>
	          </div>
	        </div>
	        <div class="usa-accordion-close-button">
	        </div>
	      </button>
	      <button class="usa-accordion-remove-button">
	        <span class="fas fa-times fa-fw"></span>
	        <span class="remove">Remove</span>
	      </button>
	    </div>
		</li>
		<li class="timeline-entry-empty">
	  	<span class="year-start"><strong>2012</strong></span>
		</li>
	  <li>
	  	<span class="year-start"><strong>2010</strong></span>
	    <div class="usa-accordion-header">
	      <button class="usa-accordion-button"
	        aria-expanded="false"
	        aria-controls="b-a1">
	        <div class="titles">
	          <div class="title">
	            <div class="title-right">
	              <span class="fa-stack" style="position: relative;">
	                <i class="fas fa-circle fa-stack-2x"></i>
	                <span style="color: white; position: absolute; left: 17px;">3</span>
	              </span>
	              <span class="usa-accordion-header-label">Address 3:</span>
	              <span id="header-text">56 Wyman Rd, Marblehead, MA 01945</span>
	            </div>
	            <div class="title-left">
	              <span>5/2006 - 12/2010</span>
	            </div>
	          </div>
	        </div>
	        <div class="usa-accordion-close-button">
	        </div>
	      </button>
	      <button class="usa-accordion-remove-button">
	        <span class="fas fa-times fa-fw"></span>
	        <span class="remove">Remove</span>
	      </button>
	    </div>
	    <span class="year-end"><strong>2009</strong></span>
		</li>
	</ul>

	<fieldset class="usa-fieldset-inputs usa-sans">
    <legend>Do you have an additional residence to report?</legend>
    <ul class="usa-list-inline-justified usa-list-inline">
      <li>
        <input id="yes-2" type="radio" name="additional-residence" >
        <label for="yes-2"><span>Yes</span></label>
      </li>
      <li>
        <input id="no-2" type="radio" name="additional-residence" >
        <label for="no-2"><span>No</span></label>
      </li>
    </ul>
  </fieldset>
  <!-- Additional residences end -->
  <!-- Back/next block -->
  <div class="next-back-block">
  	<% link_to '/example-form/your-history-introduction.html', :class => "usa-button back-button" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Introduction</div>
    <% end %>
    <% link_to '/example-form/employment-activities.html', :class => "usa-button next-button" do %>
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Employment activities</div>
    <% end %>
  </div>
</div>