---
layout: "example-form-layout"
title: eApp SF-85
---
<div class="eapp-form" data-id="Section 1: Information About You - Introduction">
	<h1 class="eapp-section-header">Where you have lived</h1>
	<h3>List the places where you have lived beginning with your present residence and working back 10 years.</h3>
	<p>Residences for the entire period must be accounted for without breaks.</p>
	<ul>
		<li><strong>Indicate the actual physical location of your residence</strong>, not a Post Office box or a permanent residence when you were not physically located there.</li>
		<li><strong>If you split your time between one or more residences during a time period</strong>, you must list all residences.</li>
		<li><strong>Do not list residences before your 18th birthday</strong> unless to provide a minimum of 2 years residence history.</li>
	</ul>
	<div class="usa-timeline-block">
		<div class="usa-timeline-content">
			<span class="usa-timeline-icon">
				<i class="fas fa-home fa-3x"></i>
			</span>
			<span class="usa-timeline-title">
				<strong>Where you have lived</strong>
			</span>
		</div>
		<div class="usa-counter">
			<div class="usa-counter-fraction">
				<span class="completed">9</span>
				<span class="slash">/</span>
				<span class="total">10</span>
			</div>
			<div class="usa-counter-unit">
				Years covered
			</div>
		</div>
	</div>
	<p><strong>Summary of places you have lived</strong></p>
	<div class="proto-vertical-timeline-container">
		<div class="proto-vertical-timeline-entry">
			<div class="date"><div class="start"><strong>2019</strong></div></div>
			<a href="" onclick="return false;" class="timeline-entry" style="height: 20rem;">
				<div class="address-right">
					<div class="address">Address 1: <strong>801 Union St. Apt 3, Brooklyn, NY 11215</strong></div>
				</div>
				<div class="address-dates-left"><strong>4/2015 - 1/2019</strong></div>
				<div class="entry-actions">
					<i class="fas fa-pencil-alt"></i>
					<i class="fas fa-trash"></i>
				</div>
			</a>
		</div>
		<div class="proto-vertical-timeline-entry">
			<div class="date"><div class="start"><strong>2015</strong></div></div>
			<a href="" onclick="return false;" class="timeline-entry" style="height: 10rem;">
				<div class="address-right">
					<div class="address">Address 2: <strong>50 Lexington Ave, New York, NY 10010</strong></div>
				</div>
				<div class="address-dates-left"><strong>8/2013 - 4/2015</strong></div>
				<div class="entry-actions">
					<i class="fas fa-pencil-alt"></i>
					<i class="fas fa-trash"></i>
				</div>
			</a>
		</div>
		<div class="proto-vertical-timeline-entry">
			<div class="date"><div class="start"><strong>2013</strong></div></div>
			<a href="" onclick="return false;" class="timeline-entry" style="height: 10rem;">
				<div class="address-right">
					<div class="address">Address 3: <strong>431 Union St. Burlington, VT 05401</strong></div>
				</div>
				<div class="address-dates-left"><strong>9/2011 - 7/2013</strong></div>
				<div class="entry-actions">
					<i class="fas fa-pencil-alt"></i>
					<i class="fas fa-trash"></i>
				</div>
			</a>
		</div>
		<div class="proto-vertical-timeline-entry">
			<div class="date"><div class="start"><strong>2011</strong></div></div>
			<a href="" onclick="return false;" class="timeline-entry" style="height: 5rem;">
				<div class="address-right">
					<div class="address">Address 4: <strong>79 Dale Rd, Burlington, VT 05401</strong></div>
				</div>
				<div class="address-dates-left"><strong>9/2010 - 8/2011</strong></div>
				<div class="entry-actions">
					<i class="fas fa-pencil-alt"></i>
					<i class="fas fa-trash"></i>
				</div>
			</a>
		</div>
		<div class="proto-vertical-timeline-entry">
			<div class="date"><div class="start"><strong>2010</strong></div></div>
			<div class="timeline-entry timeline-entry-empty" style="height: 5rem;">
			</div>
		</div>
		<div class="proto-vertical-timeline-entry">
			<div class="date">
				<div class="start"><strong>2009</strong></div>
				<div class="end"><strong>2009</strong></div>
			</div>
			<a href="" onclick="return false;" class="timeline-entry" style="height: 4rem;">
				<div class="address-right">
					<div class="address">Address 5: <strong>273 Pearl St, Burlington, VT 05401</strong></div>
				</div>
				<div class="address-dates-left"><strong>9/2008 - 8/2009</strong></div>
				<div class="entry-actions">
					<i class="fas fa-pencil-alt"></i>
					<i class="fas fa-trash"></i>
				</div>
			</a>
		</div>
	</div>

	<fieldset class="usa-fieldset-inputs usa-sans">
    <legend>Do you have an additional residence to report?</legend>
    <ul class="usa-list-inline-justified usa-list-inline">
      <li>
        <input id="yes-2" type="radio" name="additional-residence" >
        <label for="yes-2"><span>Yes</span></label>
      </li>
      <li>
        <input id="no-2" type="radio" name="additional-residence" >
        <label for="no-2"><span>No</span></label>
      </li>
    </ul>
  </fieldset>
  <!-- Additional residences end -->
  <!-- Back/next block -->
  <div class="next-back-block">
  	<% link_to '/example-form/your-history-introduction.html', :class => "usa-button back-button" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Introduction</div>
    <% end %>
    <% link_to '/example-form/employment-activities.html', :class => "usa-button next-button" do %>
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Employment activities</div>
    <% end %>
  </div>
</div>