<h2 class="styleguide-section-header">Accordion Block</h2>
<section id="accordion-block" class="styleguide-section">
  <ul id="accordion" class="usa-accordion-bordered">
    <li>
      <div class="usa-accordion-header">
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="b-a1">
          <div class="titles">
            <div class="title">
              <div class="title-right">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-stack-1x fa-home fa-inverse"></i>
                </span>
                <span>801 Union Street, Burlington, VT 05401</span>
              </div>
              <div class="title-left">
                <span>09/2017-10/2018</span>
              </div>
            </div>
          </div>
          <div class="usa-accordion-close-button">
          </div>
        </button>
        <button class="usa-accordion-remove-button">
          <span class="fas fa-times fa-fw"></span>
          <span class="remove">Remove</span>
        </button>
       </div>
      <div id="b-a1" class="usa-accordion-content">
        <form action="" class="usa-form-large">
          <fieldset id="address-block" class="usa-fieldset-inputs">
            <legend>Provide your address</legend>
            <fieldset class="usa-fieldset-inputs">
              <legend class="label-style">This address is</legend>
              <ul class="usa-list-inline usa-list-inline-justified">
                <li>
                  <input id="inside-us-radio-accordion" type="radio" name="address-type-accordion" value="inside-us-radio" checked>
                  <label for="inside-us-radio-accordion"><span>In the U.S.</span></label>
                </li>
                <li>
                  <input id="outside-us-radio-accordion" type="radio" name="address-type-accordion" value="outside-us-radio">
                  <label for="outside-us-radio-accordion"><span>Outside the U.S.</span></label>
                </li>
                <li>
                  <input id="apo-fpo-dpo-radio-accordion" type="radio" name="address-type-accordion" value="apo-fpo-dpo-radio">
                  <label for="apo-fpo-dpo-radio-accordion"><span>APO/FPO/DPO</span></label>
                </li>
              </ul>
            </fieldset>

            <!-- Inside U.S. fields -->
            <div class="inside-us-fields">
              <div class="usa-form-control">
                <label for="mailing-address-1" class="address-block">Street address</label>
                <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
              </div>
              <div class="usa-form-control">
                <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
                <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
              </div>
              <div class="usa-form-control">
                <label for="city" class="address-block">City</label>
                <input id="city" name="city" type="text" class="address-block">
              </div>
              <div class="usa-grid address-block">
                <div class="usa-width-one-half">
                  <div class="usa-form-control">
                    <label for="state">State</label>
                    <input id="state" name="state" type="text">
                  </div>
                </div>
                <div class="usa-width-one-half">
                  <div class="usa-form-control">
                    <label for="zip">Zip</label>
                    <input id="zip" name="zip" type="zip">
                  </div>
                </div>
              </div>
            </div>
            <!-- Inside U.S. fields end -->
            <!-- Outside U.S. fields -->
            <div class="outside-us-fields">
              <div class="usa-form-control">
                <label for="mailing-address-1" class="address-block">Street address</label>
                <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
              </div>
              <div class="usa-form-control">
                <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
                <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
              </div>
              <div class="usa-form-control">
                <label for="city" class="address-block">City</label>
                <input id="city" name="city" type="text" class="address-block">
              </div>
              <div class="usa-form-control">
                <label for="country" class="address-block">Country</label>
                <select name="country" id="country" class="address-block">
                  <option value="United States of America">United States of America</option>
                  <option value="Another country">Another country</option>
                  <option value="Another country">Another country</option>
                </select>
              </div>
            </div>
            <!-- Outside U.S. fields end -->
            <!-- APO/FPO/DPO fields -->
            <div class="apo-fpo-dpo-fields">
              <div class="usa-form-control">
                <label for="address" class="apo-fpo-dpo-address-block">Address</label>
                <input type="text" class="apo-fpo-dpo-address-block">
              </div>
              <label for="" class="apo-fpo-dpo-address-block">Select APO, FPO, DPO</label>
              <ul class="usa-list-inline usa-list-inline-justified apo-fpo-dpo-address-block">
                <li>
                  <div class="usa-form-controlk">
                    <input id="apo" type="radio" name="apo-fpo-dpo" value="APO">
                    <label for="apo"><span>APO</span></label>
                  </div>
                </li>
                <li>
                  <div class="usa-form-control">
                    <input id="fpo" type="radio" name="apo-fpo-dpo" value="FPO">
                    <label for="fpo"><span>FPO</span></label>
                  </div>
                </li>
                 <li>
                  <div class="usa-form-control">
                    <input id="dpo" type="radio" name="apo-fpo-dpo" value="DPO">
                    <label for="dpo"><span>DPO</span></label>
                  </div>
                </li>
              </ul>
              <div class="usa-grid apo-fpo-dpo-address-block">
                <div class="usa-width-one-half">
                  <div class="usa-form-control">
                    <label for="apo-fpo-dpo-code">APO/FPO/DPO State Code</label>
                    <input type="text">
                  </div>
                </div>
                <div class="usa-width-one-half">
                  <div class="usa-form-control">
                    <label for="apo-fpo-dpo-zip-code">Zip Code</label>
                    <input type="text">
                  </div>
                </div>
              </div>
            </div>
            <!-- APO/FPO/DPO fields end -->
          </fieldset>
          <fieldset class="usa-fieldset-inputs">
            <legend>Is/was this residence</legend>
            <ul class="usa-unstyled-list">
              <li>
                <input id="owned" type="radio" name="residence-type">
                <label for="owned"><span>Owned by you</span></label>
              </li>
              <li>
                <input id="rented-leased" type="radio" name="residence-type">
                <label for="rented-leased"><span>Rented or leased by you</span></label>
              </li>
              <li>
                <input id="military-housing" type="radio" name="residence-type">
                <label for="military-housing"><span>Military housing</span></label>
              </li>
              <li>
                <input id="other" type="radio" name="residence-type">
                <label for="other"><span>Other</span></label>
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </li>
  </ul>

  <ul class="usa-accordion-bordered styleguide-documentation-section">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="accordion-docs">
        Documentation
      </button>
      <div id="accordion-docs" class="usa-accordion-content">
        <strong>When to use</strong>
        <ul>
          <li>When applicants need to answer a repetetive set of the same questions (e.g. list of places that they have lived).</li>
        </ul>

        <strong>When to consider something different</strong>
        <ul>
          <li>If an applicant is only answering a set of questions once withn a given section/subsection.</li>
        </ul>

        <strong>Guidance</strong>
        <ul>
          <li>Some piece of entered information within the accordion should become the title for the accordion in order to help the applicant keep context (e.g. street name, person's name, etc.).</li>
          <li>Accordion headers should fix to top of window on scroll in order to keep context of a given set of questions.</li>
          <li>If a set of questions is timeline based (e.g. places where you have lived) the accordion elements should automatically order themselves based on the dates provided from most recent to furthest in the past.
            <ul>
              <li>The reorder should be triggered when the applicant answers "yes" or "no" to adding more entries to the list.</li>
            </ul>
          </li>
          <li>Applicants should have to confirm when they are removing an accordion entry.</li>
          <li>New accordion entries should always be added to the bottom of the accordion list.</li>
          <li>Applicants should be able to open and close an accordion at any time.</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
