<h2 class="styleguide-section-header">Address Block</h2>
<section id="address-block" class="styleguide-section">
  <fieldset id="address-block" class="usa-fieldset-inputs">
    <legend>Provide your address</legend>
    <fieldset class="usa-fieldset-inputs">
      <legend class="label-style">This address is</legend>
      <ul class="usa-list-inline usa-list-inline-justified">
        <li>
          <input id="inside-us-radio" type="radio" name="address-type" value="inside-us-radio" checked>
          <label for="inside-us-radio"><span>In the U.S.</span></label>
        </li>
        <li>
          <input id="outside-us-radio" type="radio" name="address-type" value="outside-us-radio">
          <label for="outside-us-radio"><span>Outside the U.S.</span></label>
        </li>
        <li>
          <input id="apo-fpo-dpo-radio" type="radio" name="address-type" value="apo-fpo-dpo-radio">
          <label for="apo-fpo-dpo-radio"><span>APO/FPO/DPO</span></label>
        </li>
      </ul>
    </fieldset>

    <!-- Inside U.S. fields -->
    <div class="inside-us-fields">
      <div class="usa-form-control">
        <label for="mailing-address-1" class="address-block">Street address</label>
        <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
      </div>
      <div class="usa-form-control">
        <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
        <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
      </div>
      <div class="usa-form-control">
        <label for="city" class="address-block">City</label>
        <input id="city" name="city" type="text" class="address-block">
      </div>
      <div class="usa-grid address-block">
        <div class="usa-width-one-half">
          <div class="usa-form-control">
            <label for="state">State</label>
            <input id="state" name="state" type="text">
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-form-control">
            <label for="zip">Zip</label>
            <input id="zip" name="zip" type="zip">
          </div>
        </div>
      </div>
    </div>
    <!-- Inside U.S. fields end -->
    <!-- Outside U.S. fields -->
    <div class="outside-us-fields">
      <div class="usa-form-control">
        <label for="mailing-address-1" class="address-block">Street address</label>
        <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">
      </div>
      <div class="usa-form-control">
        <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
        <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">
      </div>
      <div class="usa-form-control">
        <label for="city" class="address-block">City</label>
        <input id="city" name="city" type="text" class="address-block">
      </div>
      <div class="usa-form-control">
        <label for="country" class="address-block">Country</label>
        <select name="country" id="country" class="address-block">
          <option value="United States of America">United States of America</option>
          <option value="Another country">Another country</option>
          <option value="Another country">Another country</option>
        </select>
      </div>
    </div>
    <!-- Outside U.S. fields end -->
    <!-- APO/FPO/DPO fields -->
    <div class="apo-fpo-dpo-fields">
      <div class="usa-form-control">
        <label for="address" class="apo-fpo-dpo-address-block">Address</label>
        <input type="text" class="apo-fpo-dpo-address-block">
      </div>
      <label for="" class="apo-fpo-dpo-address-block">Select APO, FPO, DPO</label>
      <ul class="usa-list-inline usa-list-inline-justified apo-fpo-dpo-address-block">
        <li>
          <div class="usa-form-controlk">
            <input id="apo" type="radio" name="apo-fpo-dpo" value="APO">
            <label for="apo"><span>APO</span></label>
          </div>
        </li>
        <li>
          <div class="usa-form-control">
            <input id="fpo" type="radio" name="apo-fpo-dpo" value="FPO">
            <label for="fpo"><span>FPO</span></label>
          </div>
        </li>
         <li>
          <div class="usa-form-control">
            <input id="dpo" type="radio" name="apo-fpo-dpo" value="DPO">
            <label for="dpo"><span>DPO</span></label>
          </div>
        </li>
      </ul>
      <div class="usa-grid apo-fpo-dpo-address-block">
        <div class="usa-width-one-half">
          <div class="usa-form-control">
            <label for="apo-fpo-dpo-code">APO/FPO/DPO State Code</label>
            <input type="text">
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-form-control">
            <label for="apo-fpo-dpo-zip-code">Zip Code</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    <!-- APO/FPO/DPO fields end -->
  </fieldset>

  <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="address-docs">
          Documentation
        </button>
        <div id="address-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use an address block when you need to collect a full address from an applicant.</li>
            <li>Addresses can either be inside or outside the United States</li>
          </ul>

          <strong>When to consider something else</strong>
          <ul>
            <li>Another input should be chosen if you are not collecing a formatted address from an applicant. (e.g. school name)</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Address format should update depending on country chosen.
              <ul>
                <li>For addresses within the United States applicants should see fields for street, apt/suite/building/floor, city, state, and zip.</li>
                <li>For addresses outside the United states applicants should see fields for street, apt/suite/building/floor, and city.</li>
              </ul>
            </li>
            <li>Address format should update if applicant chooses that the address is a APO/FPO/DPO address.
            </li>
            <li>Fields may be optionally ommited from the addres block if they are not needed for a particular question.</li>
            <li>Address blocks should be validated against USPS for accuracy.</li>
            <li>Validation for address should not occur until all fields are filled in.</li>
          </ul>
        </div>
      </li>
    </ul>
</section>
