<section id="address-block" class="styleguide-section">
  <h2 class="styleguide-section-header">Address Block</h2>
  <fieldset id="address-block" class="usa-fieldset-inputs">
    <legend>Provide your address</legend>
    <input id="apo-fpo-dpo-checkbox" type="checkbox" name="APO" value="truth">
    <label for="apo-fpo-dpo-checkbox"><span>This address is an APO/FPO/DPO</span></label>
    <label for="country" class="address-block">Country</label>
    <select name="country" id="country" class="address-block">
      <option value="United States of America">United States of America</option>
      <option value="Another country">Another country</option>
      <option value="Another country">Another country</option>
    </select>

    <label for="mailing-address-1" class="address-block">Street address</label>
    <input id="mailing-address-1" name="mailing-address-1" type="text" class="address-block">

    <label for="mailing-address-2" class="address-block">Apt, suite, building, floor, etc.(Optional)</label>
    <input id="mailing-address-2" name="mailing-address-2" type="text" class="address-block">


    <label for="city" class="address-block">City</label>
    <input id="city" name="city" type="text" class="address-block">

    <div class="usa-grid address-block">
      <div class="usa-width-one-half">
        <label for="state">State</label>
        <input id="state" name="state" type="text">
      </div>

      <div class="usa-width-one-half">
        <label for="zip">Zip</label>
        <input id="zip" name="zip" type="zip">
      </div>
    </div>

    <label for="address" class="apo-fpo-dpo-address-block">Address</label>
    <input type="text" class="apo-fpo-dpo-address-block">
    <label for="" class="apo-fpo-dpo-address-block">Select APO, FPO, DPO</label>
    <ul class="usa-list-inline usa-list-inline-justified apo-fpo-dpo-address-block">
      <li>
        <input id="apo" type="radio" name="apo-fpo-dpo" value="APO">
        <label for="apo"><span>APO</span></label>
      </li>
      <li>
        <input id="fpo" type="radio" name="apo-fpo-dpo" value="FPO">
        <label for="fpo"><span>FPO</span></label>
      </li>
       <li>
        <input id="dpo" type="radio" name="apo-fpo-dpo" value="DPO">
        <label for="dpo"><span>DPO</span></label>
      </li>
    </ul>
    <div class="usa-grid apo-fpo-dpo-address-block">
      <div class="usa-width-one-half">
        <label for="apo-fpo-dpo-code">APO/FPO/DPO State Code</label>
        <input type="text">
      </div>
      <div class="usa-width-one-half">
        <label for="apo-fpo-dpo-zip-code">Zip Code</label>
        <input type="text">
      </div>
    </div>
  </fieldset>
</section>
