<h2 class="styleguide-section-header">Alert Blocks</h2>
<section id="alert-blocks" class="styleguide-section">
  <div class="usa-alert usa-alert-success" >
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Success Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-warning" >
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Warning Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-error" role="alert">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Error Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-info" >
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Information Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <ul class="usa-accordion-bordered styleguide-documentation-section">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="alert-docs">
        Documentation
      </button>
      <div id="alert-docs" class="usa-accordion-content">
        <strong>When to use</strong>
        <ul>
          <li>Use an alert banner when you need to prompt the users attention. Alerts are primarily used for holding additional information about questions as well as displaying validation errors.</li>
        </ul>

        <strong>Guidance</strong>
        <ul>
          <li>When the applicant is required to do something in response to an alert, let them know what they need to do and make that task as easy as possible. Think about how much context to provide with your message. For example, a notification of a system change may require more contextual information than a validation message. Write the message in concise, human readable language; avoid jargon and computer code.</li>
          <li>Be polite in error messages — don’t place blame on the applicant.</li>
          <li>Applicants generally won’t read documentation but will read a message that helps them resolve an error; include some educational material in your error message.</li>
          <li>But don’t overdo it — too many notifications will either overwhelm or annoy the applicant and are likely to be ignored.</li>
          <li>Allow a applicant to dismiss a notification wherever appropriate.</li>
          <li>Don’t include notifications that aren’t related to the applicant’s current goal.</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
