<section id="alert-blocks" class="styleguide-section">
  <h2 class="styleguide-section-header">Alert Blocks</h2>
  <div class="usa-alert usa-alert-success" >
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Success Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-warning" >
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Warning Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-error" role="alert">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Error Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>

  <div class="usa-alert usa-alert-info" >
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Information Status</h3>
      <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
    </div>
  </div>
</section>
