<h2 class="styleguide-section-header">Alert Blocks</h2>
<section id="alert-blocks" class="styleguide-section">
  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Alert types</h3>
    <div class="usa-alert usa-alert-success">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Success Status</h3>
        <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
      </div>
    </div>

    <div class="usa-alert usa-alert-warning" >
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Warning Status</h3>
        <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
      </div>
    </div>

    <div class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Error Status</h3>
        <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
      </div>
    </div>

    <div class="usa-alert usa-alert-info" >
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Information Status</h3>
        <p class="usa-alert-text">Lorem ipsum dolor sit amet, <a href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
      </div>
    </div>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="alert-docs">
          Documentation
        </button>
        <div id="alert-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use an alert banner when you need to prompt the users attention. Alerts are primarily used for holding additional information about questions as well as displaying validation errors.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>When the applicant is required to do something in response to an alert, let them know what they need to do and make that task as easy as possible. Think about how much context to provide with your message. For example, a notification of a system change may require more contextual information than a validation message. Write the message in concise, human readable language; avoid jargon and computer code.</li>
            <li>Be polite in error messages — don’t place blame on the applicant.</li>
            <li>Applicants generally won’t read documentation but will read a message that helps them resolve an error; include some educational material in your error message.</li>
            <li>But don’t overdo it — too many notifications will either overwhelm or annoy the applicant and are likely to be ignored.</li>
            <li>Allow a applicant to dismiss a notification wherever appropriate.</li>
            <li>Don’t include notifications that aren’t related to the applicant’s current goal.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Section review summary alert</h3>
    <div class="usa-alert usa-alert-error">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Here is a list of 5 questions with issues</h3>
        <p class="usa-alert-text">
          <strong>Full name</strong>
          <ul>
            <li>
              <a href="">Provide your full name</a>
            </li>
          </ul>
          <strong>Other names used</strong>
          <ul>
            <li>
              <a href="">Have you used any other names?</a>
            </li>
          </ul>
          <strong>Phone number 1</strong>
          <ul>
            <li>
              <a href="">United States telephone number</a>
            </li>
          </ul>
          <strong>Date of birth</strong>
          <ul>
            <li>
              <a href="">Provide your date of birth</a>
            </li>
          </ul>
          <strong>Place of birth</strong>
          <ul>
            <li>
              <a href="">Provide your place of birth</a>
            </li>
          </ul>
        </p>
      </div>
    </div>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="section-alert-docs">
          Documentation
        </button>
        <div id="section-alert-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use a section review summary alert block when showing an applicant each incomplete question on the section review page.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>If an applicant clicks a link in the section review summary alert block the page should scroll to the selected question.</li>
            <li>Links should dissappear from the summary alert block once the necessary field is valid and complete.</li>
            <li>The entire summary alert block should dissappear once all fields indicated are valid and complete.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Form review summary alert</h3>
    <div class="usa-alert usa-alert-error">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Information about you</h3>
        <ul class="usa-alert-text">
          <li>Other names used</li>
          <li>Your contact information</li>
          <li>Date of birth</li>
          <li>Place of birth</li>
          <li>Social Security Number</li>
          <li>Your identifying information</li>
        </ul>
        <a href="" class="usa-button usa-button-secondary">Back to section</a>
      </div>
    </div>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="form-summary-alert-docs">
          Documentation
        </button>
        <div id="form-summary-alert-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use a Form review summary alert block when showing an applicant each incomplete section when reviewing the entire form before submission</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>If an applicant clicks the "back to section" button they should be directed to the proper section of the form.</li>
            <li>A formm review summary alert should dissappear once all fields within the necessary section are valid and complete.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
