<h2 class="styleguide-section-header">Back/Next Block</h2>
<section id="back-next-block" class="styleguide-section">
  <div class="next-back-block">
    <button class="usa-button back-button">
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Full name</div>
    </button>
    <button class="usa-button next-button">
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Your contact information</div>
    </button>
  </div>
</section>
