<h2 class="styleguide-section-header">Back/Next Block</h2>
<section id="back-next-block" class="styleguide-section">
  <div class="next-back-block">
    <button class="usa-button back-button">
      <i class="far fa-arrow-alt-circle-left"></i>
      <div class="direction">Back</div>
      <div class="label">Full name</div>
    </button>
    <button class="usa-button next-button">
      <i class="far fa-arrow-alt-circle-right"></i>
      <div class="direction">Next</div>
      <div class="label">Your contact information</div>
    </button>
  </div>

  <ul class="usa-accordion-bordered styleguide-documentation-section">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="back-next-docs">
        Documentation
      </button>
      <div id="back-next-docs" class="usa-accordion-content">
        <strong>When to use</strong>
        <ul>
          <li>When allowing an applicant to progress forward and backward through sections in the form.</li>
        </ul>

        <strong>Guidance</strong>
        <ul>
          <li>Next button should always show name of section/subsection immediately following the current section/subsection a applicant is on.</li>
          <li>Back button should always show name of section/subsection immediately prior the current section/subsection an applicant is on.</li>
          <li>Applicants should be able to progress foward and backward in a form at any time.</li>
          <li>If there are no sections/subsctions prior to the current section the back button should not show.</li>
          <li>If there are no sections/subsctions after to the current section the next button should not show.</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
