<section id="checkbox-radio-blocks" class="styleguide-section">
  <h2 class="styleguide-section-header">Checkbox/Radio Button Blocks</h2>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Checkbox block</h3>
    <fieldset class="usa-fieldset-inputs usa-sans">
      <legend>Select your employment activity</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="employer" type="checkbox" name="historical-figures-1" value="truth">
          <label for="employer"><span>An employer, military commander, or employee assistance program</span></label>
        </li>
        <li>
          <input id="medical" type="checkbox" name="historical-figures-1" value="douglass">
          <label for="medical"><span>A medical professional</span></label>
        </li>
        <li>
          <input id="mental" type="checkbox" name="historical-figures-1" value="washington">
          <label for="mental"><span>A mental health professional</span></label>
        </li>
        <li>
          <input id="court" type="checkbox" name="historical-figures-1" >
          <label for="court"><span>A court official/judge</span></label>
        </li>
        <li>
          <input id="have-not" type="checkbox" name="historical-figures-1" disabled>
          <label for="have-not"><span>I have not been ordered, advised or asked to seek counseling or treatment by any of the above</span></label>
        </li>
      </ul>
    </fieldset>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Radio button block</h3>
    <fieldset class="usa-fieldset-inputs usa-sans">
      <legend>Provide your current citizenship status</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="us-citizen" type="radio" name="citizenship-status">
          <label for="us-citizen"><span>I am a U.S. citizen or national by birth in the U.S. or U.S. territory/commonwealth</span></label>
        </li>
        <li>
          <input id="foreign-country" type="radio" name="citizenship-status">
          <label for="foreign-country"><span>I am a U.S. citizen or national by birth, born to U.S. parent(s), in a foreign country</span></label>
        </li>
        <li>
          <input id="naturalized" type="radio" name="citizenship-status">
          <label for="naturalized"><span>I am a naturalized U.S. citizen</span></label>
        </li>
        <li>
          <input id="derived" type="radio" name="citizenship-status" >
          <label for="derived"><span>I am a derived U.S. citizen</span></label>
        </li>
        <li>
          <input id="not-citizen" type="radio" name="citizenship-status" disabled>
          <label for="not-citizen"><span>I am not a U.S. citizen</span></label>
        </li>
      </ul>
    </fieldset>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Inline Radio Button Block</h3>
    <fieldset class="usa-fieldset-inputs usa-sans">
      <legend>Have you used any other names?</legend>
      <ul class="usa-list-inline-justified usa-list-inline">
        <li>
          <input id="yes" type="radio" name="other-names" >
          <label for="yes"><span>Yes</span></label>
        </li>
        <li>
          <input id="no" type="radio" name="other-names" >
          <label for="no"><span>No</span></label>
        </li>
      </ul>
    </fieldset>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Validation</h3>
    <fieldset class="usa-fieldset-inputs usa-sans usa-checkbox-radio-error">
      <legend>Have you used any other names?</legend>
      <span class="usa-input-error-message" id="input-error-message" role="alert">Your response is required</span>
      <ul class="usa-list-inline-justified usa-list-inline">
        <li>
          <input id="yes" type="radio" name="other-names" >
          <label for="yes"><span>Yes</span></label>
        </li>
        <li>
          <input id="no" type="radio" name="other-names" >
          <label for="no"><span>No</span></label>
        </li>
      </ul>
    </fieldset>
  </div>
</section>
