<h2 class="styleguide-section-header">Checkbox/Radio Button Blocks</h2>
<section id="checkbox-radio-blocks" class="styleguide-section">

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Checkbox block</h3>
    <fieldset class="usa-fieldset-inputs usa-sans">
      <legend>Select your employment activity</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="employer" type="checkbox" name="historical-figures-1" value="truth">
          <label for="employer"><span>An employer, military commander, or employee assistance program</span></label>
        </li>
        <li>
          <input id="medical" type="checkbox" name="historical-figures-1" value="douglass">
          <label for="medical"><span>A medical professional</span></label>
        </li>
        <li>
          <input id="mental" type="checkbox" name="historical-figures-1" value="washington">
          <label for="mental"><span>A mental health professional</span></label>
        </li>
        <li>
          <input id="court" type="checkbox" name="historical-figures-1" >
          <label for="court"><span>A court official/judge</span></label>
        </li>
        <li>
          <input id="have-not" type="checkbox" name="historical-figures-1" disabled>
          <label for="have-not"><span>I have not been ordered, advised or asked to seek counseling or treatment by any of the above</span></label>
        </li>
      </ul>
    </fieldset>
    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="checkbox-docs">
          Documentation
        </button>
        <div id="checkbox-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>When a user can select any number of choices from a set list.</li>
            <li>When applicants need to see all the available options at a glance.</li>
          </ul>

          <strong>When to consider something different</strong>
          <ul>
            <li>If there are too many options to display on a mobile screen.</li>
            <li>If a user can only select one option from a list (use radio buttons instead).</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Applicants should be able to tap on or click on either the text label or the checkbox to select or deselect an option.</li>
            <li>Avoid using negative language in labels as they can be counterintuitive. For example, “I want to receive a promotional email” instead of “I don’t want to receive promotional email.”</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Radio button block</h3>
    <fieldset class="usa-fieldset-inputs usa-sans">
      <legend>Provide your current citizenship status</legend>
      <ul class="usa-unstyled-list">
        <li>
          <input id="us-citizen" type="radio" name="citizenship-status">
          <label for="us-citizen"><span>I am a U.S. citizen or national by birth in the U.S. or U.S. territory/commonwealth</span></label>
        </li>
        <li>
          <input id="foreign-country" type="radio" name="citizenship-status">
          <label for="foreign-country"><span>I am a U.S. citizen or national by birth, born to U.S. parent(s), in a foreign country</span></label>
        </li>
        <li>
          <input id="naturalized" type="radio" name="citizenship-status">
          <label for="naturalized"><span>I am a naturalized U.S. citizen</span></label>
        </li>
        <li>
          <input id="derived" type="radio" name="citizenship-status" >
          <label for="derived"><span>I am a derived U.S. citizen</span></label>
        </li>
        <li>
          <input id="not-citizen" type="radio" name="citizenship-status" disabled>
          <label for="not-citizen"><span>I am not a U.S. citizen</span></label>
        </li>
      </ul>
    </fieldset>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="radio-docs">
          Documentation
        </button>
        <div id="radio-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>When applicants need to select only one option out of a set of mutually exclusive choices.</li>
            <li>When the number of available options can fit onto a mobile screen.</li>
          </ul>

          <strong>When to consider something different</strong>
          <ul>
            <li>Consider checkboxes if applicants need to select more than one option or if there is only one item to select.</li>
            <li>Consider a dropdown if you don’t have enough space to list out all available options.</li>
            <li>If applicants should be able to select zero of the options.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Applicants should be able to tap on or click on either the text label or the radio button to select or deselect an option.</li>
            <li>Use caution if you decide to set a default value. Setting a default value can discourage applicants from making conscious decisions, seem pushy, or alienate applicants who don’t fit into your assumptions. If you are unsure, leave nothing selected by default.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Inline Radio Button Block</h3>
    <fieldset class="usa-fieldset-inputs usa-sans">
      <legend>Have you used any other names?</legend>
      <ul class="usa-list-inline-justified usa-list-inline">
        <li>
          <input id="yes" type="radio" name="other-names" >
          <label for="yes"><span>Yes</span></label>
        </li>
        <li>
          <input id="no" type="radio" name="other-names" >
          <label for="no"><span>No</span></label>
        </li>
      </ul>
    </fieldset>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="inline-radio-docs">
          Documentation
        </button>
        <div id="inline-radio-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>When applicants need to choose “yes” or “no”</li>
            <li>When the list of options is less than or equal to 3.</li>
          </ul>

          <strong>When to consider something different</strong>
          <ul>
            <li>If the list of options is greater than 3</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Applicants should be able to tap on or click on either the text label or the radio button to select or deselect an option.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Validation</h3>
    <fieldset class="usa-fieldset-inputs usa-sans usa-checkbox-radio-error">
      <legend>Have you used any other names?</legend>
      <span class="usa-input-error-message" id="input-error-message" role="alert">Your response is required</span>
      <ul class="usa-list-inline-justified usa-list-inline">
        <li>
          <input id="yes" type="radio" name="other-names" >
          <label for="yes"><span>Yes</span></label>
        </li>
        <li>
          <input id="no" type="radio" name="other-names" >
          <label for="no"><span>No</span></label>
        </li>
      </ul>
    </fieldset>

    <fieldset class="usa-fieldset-inputs usa-sans usa-checkbox-radio-error">
      <legend>Select your employment activity</legend>
      <span class="usa-input-error-message" id="input-error-message" role="alert">Your response is required</span>
      <ul class="usa-unstyled-list">
        <li>
          <input id="employer" type="checkbox" name="historical-figures-1" value="truth">
          <label for="employer"><span>An employer, military commander, or employee assistance program</span></label>
        </li>
        <li>
          <input id="medical" type="checkbox" name="historical-figures-1" value="douglass">
          <label for="medical"><span>A medical professional</span></label>
        </li>
        <li>
          <input id="mental" type="checkbox" name="historical-figures-1" value="washington">
          <label for="mental"><span>A mental health professional</span></label>
        </li>
        <li>
          <input id="court" type="checkbox" name="historical-figures-1" >
          <label for="court"><span>A court official/judge</span></label>
        </li>
        <li>
          <input id="have-not" type="checkbox" name="historical-figures-1" disabled>
          <label for="have-not"><span>I have not been ordered, advised or asked to seek counseling or treatment by any of the above</span></label>
        </li>
      </ul>
    </fieldset>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="radio-checkbox-validation-docs">
          Documentation
        </button>
        <div id="radio-checkbox-validation-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>When an applicant has not selected any option in a list of radio buttons or checkboxes.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
