<h2 class="styleguide-section-header">Date Blocks</h2>
<section id="date-blocks" class="styleguide-section">

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">From/to date block</h3>
    <fieldset id="from-to-date-block" class="usa-fieldset-inputs">
      <legend>Dates used</legend>
      <div class="from-to-dates">
        <div class="from-date-container">
          <p><strong>From date</strong></p>
          <div class="m-d-y-block">
            <div class="usa-form-control">
              <label for="month">Month</label>
              <input type="text" id="month" maxlength="2">
            </div>
            <div class="usa-form-control">
              <label for="day">Day</label>
              <input type="text" id="day" maxlength="2">
            </div>
            <div class="usa-form-control">
              <label for="year">Year</label>
              <input type="text" id="year" maxlength="4">
            </div>
          </div>
          <div class="modifiers modifiers-left">
            <div class="modifier">
              <input id="from-estimated" type="checkbox" name="from-estimated">
              <label class="simple-checkbox" for="from-estimated"><span>Estimated</span></label>
            </div>
          </div>
        </div>
        <div class="from-to-date-arrow">
          <i class="fas fa-long-arrow-alt-right fa-2x"></i>
        </div>
        <div class="to-date-container">
          <p><strong>To date</strong></p>
          <div class="m-d-y-block">
            <div class="usa-form-control">
              <label for="month">Month</label>
              <input type="text" id="month" class="to-date-input" maxlength="2">
            </div>
            <div class="usa-form-control">
              <label for="day">Day</label>
              <input type="text" id="day" class="to-date-input" maxlength="2">
            </div>
            <div class="usa-form-control">
              <label for="year">Year</label>
              <input type="text" id="year" class="to-date-input" maxlength="4">
            </div>
          </div>
          <div class="modifiers modifiers-left">
            <div class="modifier">
              <input id="to-estimated" class="to-date-input" type="checkbox" name="to-estimated">
              <label class="simple-checkbox" for="to-estimated"><span>Estimated</span></label>
            </div>
          </div>
        </div>
        <div class="or">or</div>
        <div class="present">
          <input id="present" type="checkbox" name="present">
          <label for="present"><span>Present</span></label>
        </div>
      </div>
    </fieldset>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="fromto-date-docs">
          Documentation
        </button>
        <div id="fromto-date-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>The from/to date block is used to collect a date range from an applicant.</li>
          </ul>

          <strong>When to consider something else</strong>
          <ul>
            <li>Use a month/day/year block when you are only collecting a single date from an applicant.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Don't auto tab between form fields. This could confuse applicants as they are trying to recall a date.</li>
            <li>Error validation should be triggered if month entered doesn't exist</li>
            <li>Error validation should be triggered if day entered doesn't exist in given month</li>
            <li>Error validation should be triggered if year is too far in the past or future.</li>
            <li>Error validation should be triggered if an applicant enters a "to" date that is before a "from" date in the same entry.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Month/Day/Year Block</h3>
    <fieldset class="usa-fieldset-inputs">
      <legend>Provide your date of birth</legend>
      <div class="m-d-y-block">
        <div class="usa-form-control">
          <label for="month">Month</label>
          <input type="text" id="month" maxlength="2">
        </div>
        <div class="usa-form-control">
          <label for="day">Day</label>
          <input type="text" id="day" maxlength="2">
        </div>
        <div class="usa-form-control">
          <label for="year">Year</label>
          <input type="text" id="year" maxlength="4">
        </div>
      </div>
      <div class="modifiers modifiers-left">
        <div class="modifier">
          <input id="estimated" type="checkbox" name="estimated">
          <label class="simple-checkbox" for="estimated"><span>Estimated</span></label>
        </div>
      </div>
    </fieldset>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="mdy-date-docs">
          Documentation
        </button>
        <div id="mdy-date-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>The month/day/year date block is used to collect a single date from an applicant.</li>
          </ul>

          <strong>When to consider something else</strong>
          <ul>
            <li>Use a from/to date block if you are collecting a date range from an applicant.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Don't auto tab between form fields. This could confuse applicants as they are trying to recall a date.</li>
            <li>Error validation should be triggered if month entered doesn't exist</li>
            <li>Error validation should be triggered if day entered doesn't exist in given month</li>
            <li>Error validation should be triggered if year is too far in the past or future.</li>
            <li>Day input may be optionally ommited if only the monty and year is needed from an applicant.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
