<h2 class="styleguide-section-header">Input Blocks</h2>
<section id="input-blocks" class="styleguide-section">
  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Single/multi-line text inputs</h3>
    <div class="usa-form-control">
      <label for="first-name">First name</label>
      <input type="text" id="first-name">
    </div>
    <div class="usa-form-control">
      <label for="reason-why-name-changed">Reason(s) why the name changed</label>
      <textarea name="" id="reason-why-name-changed" cols="30" rows="10"></textarea>
    </div>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="input-docs">
          Documentation
        </button>
        <div id="input-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>If you can’t reasonably predict a applicant’s answer to a prompt and there might be wide variability in applicants’ answers.</li>
            <li>When using another type of input will make answering more difficult. For example, birthdays and other known dates are easier to type in than they are to select from a calendar picker.</li>
            <li>When applicants want to be able to paste in a response.</li>
          </ul>

          <strong>When to consider something else</strong>
          <ul>
            <li>When applicants are choosing from a specific set of options.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>The length of the text input provides a hint to applicants as to how much text to write. Do not require applicants to write paragraphs of text into a single-line input box; use a text area instead.</li>
            <li>Text inputs are among the easiest type of input for desktop applicants but are more difficult for mobile applicants.</li>
            <li>Only show error validation messages or stylings after a applicant has interacted with a particular field.</li>
            <li>Avoid using placeholder text that appears within a text field before a applicant starts typing. If placeholder text is no longer visible after a applicant clicks into the field, applicants will no longer have that text available when they need to review their entries. (People who have cognitive or visual disabilities have additional problems with placeholder text.)</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Select input</h3>
    <div class="usa-form-control usa-small-input">
      <label for="hair-color">Suffix</label>
      <select name="" id="hair-color">
        <option value="" disabled selected></option>
        <option value="brown">Mr.</option>
        <option value="black">Mrs.</option>
        <option value="blonde">Ms.</option>
      </select>
    </div>
    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="select-docs">
          Documentation
        </button>
        <div id="select-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use sparingly — only when a applicant needs to choose from about seven to 15 possible options and you have limited space to display the options.</li>
          </ul>

          <strong>When to consider something else</strong>
          <ul>
            <li>If the list of options is very short. Use radio buttons instead.</li>
            <li>If the list of options is very long. Let applicants type the same information into a text input that suggests possible options instead.</li>
            <li>If you need to allow applicants to select more than one option at once. applicants often don’t understand how to select multiple items from dropdowns. Use checkboxes instead.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Avoid making options in one dropdown menu change based on the input to another. Applicants often don’t understand how selecting an item in one impacts another.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>


  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Email input</h3>
    <div class="usa-form-control">
      <label for="home-email">Home email address</label>
      <input type="email" id="home-email">
    </div>
    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="email-docs">
          Documentation
        </button>
        <div id="email-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use only when collecting an email address from an applicant.</li>
            <li>Email inputs are automatically validated to ensure properly formatted email addresses.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Dollar amount input</h3>
    <div class="usa-form-control usa-dollar-input usa-medium-input">
      <span class="dollar-icon">
        <i class="fas fa-dollar-sign"></i>
      </span>
      <input type="number">
    </div>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="dollar-input-docs">
          Documentation
        </button>
        <div id="dollar-input-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use when collecting dollar amounts from an applicant</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Dollar amount inputs should use type="number" for proper fomatting.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Input modifiers</h3>
    <div class="usa-form-control">
      <label for="middle-name">Middle name</label>
      <input type="text" id="fmiddle-name">
      <div class="modifiers">
        <div class="modifier">
          <input id="no-middle-name" type="checkbox" name="no-middle-name">
          <label class="simple-checkbox" for="no-middle-name"><span>No middle name</span></label>
        </div>
        <div class="modifier">
          <input id="first-initial-only" type="checkbox" name="first-initial-only">
          <label class="simple-checkbox" for="first-initial-only"><span>Initial only</span></label>
        </div>
      </div>
    </div>

    <div class="usa-form-control">
      <label for="person-knew-well-email">Provide an email address for this person</label>
      <input type="email" id="person-knew-well-email">
      <div class="modifiers modifiers-left">
        <div class="modifier">
          <span>or</span>
        </div>
        <div class="modifier">
          <input id="i-dont-know" type="checkbox" name="i-dont-know">
          <label for="i-dont-know"><span>I don't know</span></label>
        </div>
      </div>
    </div>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="input-modifier-docs">
          Documentation
        </button>
        <div id="input-modifier-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use input modifiers when you need to allow an applicant signify additional attributes for a field (e.g. initial only or no middle name).</li>
            <li>Use input modifiers when allowing an applicant to disable a field if they don't know the information or the information is not applicable.</li>
          </ul>

          <strong>When to consider something else</strong>
          <ul>
            <li>Don't use modifiers to ask an additional question.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>When an applicant checks "Not applicable" or "I don't know" for a given input, the input should become disabled even if it already has information typed into it.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Alternate input label style</h3>
    <div class="usa-form-control usa-medium-input">
      <label for="alt-input" class="usa-alt-label">Hair color</label>
      <select name="" id="hair-color">
        <option value="" disabled selected></option>
        <option value="brown">Brown</option>
        <option value="black">Black</option>
        <option value="blonde">Blonde</option>
      </select>
    </div>
    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="alt-input-label-docs">
          Documentation
        </button>
        <div id="alt-input-label-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Use only when the normal label style is not needed. For example, when an input is not part of a fieldset you will want the label style to match the fieldset legend for design consistency.</li>
            <li><i>Hair color</i> is a good example of this pattern.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Input sizing</h3>
    <div class="usa-form-control usa-small-input">
      <label for="small-input">Small input</label>
      <input type="text">
    </div>
    <div class="usa-form-control usa-medium-input">
      <label for="medium-input">Medium input</label>
      <input type="text">
    </div>
    <div class="usa-form-control">
      <label for="default-input">Default input</label>
      <input type="text">
    </div>
    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="input-sizing-docs">
          Documentation
        </button>
        <div id="input-sizing-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Varying input sizing gives the applicant a hint at the length of text to write for a particular question.</li>
            <li>For example, you would use a small input size for collecting a weight from an applicant and a large input size for collectin a name of a school.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Validation</h3>

    <div class="form-control">
      <label for="default-input">Untouched input</label>
      <input type="text">
    </div>

    <div class="form-control usa-input-error">
      <label for="error-input">Incomplete input</label>
      <span class="usa-input-error-message" id="input-error-message" role="alert">Your response is required</span>
      <input type="text">
    </div>

    <div class="form-control usa-input-success">
      <label for="success-input">Complete input</label>
      <input type="text">
    </div>

    <div id="validation-toggle-example" class="form-control">
      <label for="default-input">Validaiton toggle</label>
      <input type="text">
    </div>
    <input id="input-validation-toggle" type="checkbox" name="input-validation-toggle" value="truth">
    <label class="simple-checkbox" for="input-validation-toggle"><span>Toggle incomplete validation</span></label>

    <ul class="usa-accordion-bordered styleguide-documentation-section">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="input-validation-docs">
          Documentation
        </button>
        <div id="input-validation-docs" class="usa-accordion-content">
          <strong>When to use</strong>
          <ul>
            <li>Validation is used to signify to the applicant the state of the information they input into the form.</li>
          </ul>

          <strong>Guidance</strong>
          <ul>
            <li>Untouched: fields that have not had any information added to them.</li>
            <li>Incomplete: fields that hold invalid information and/or required fields that are empty.</li>
            <li>Complete: fields that hold valid infomation and/or required fields that are filled in.</li>
            <li>Validation should be triggered upon exiting a field. For fieldsets like addresses, this may apply to the fieldset as a whole.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</section>
