<section id="input-blocks" class="styleguide-section">
  <h2 class="styleguide-section-header">Input Blocks</h2>

  <h3 class="styleguide-subsection-header">Single/multi line text inputs</h3>
  <div class="usa-form-control">
    <label for="first-name">First name</label>
    <input type="text" id="first-name">
  </div>
  <div class="usa-form-control">
    <label for="reason-why-name-changed">Reason(s) why the name changed</label>
    <textarea name="" id="reason-why-name-changed" cols="30" rows="10"></textarea>
  </div>

  <h3 class="styleguide-subsection-header">Select input</h3>
  <div class="usa-form-control">
    <label for="hair-color">Choose hair color</label>
    <select name="" id="hair-color">
      <option value="" disabled selected></option>
      <option value="brown">Brown</option>
      <option value="black">Black</option>
      <option value="blonde">Blonde</option>
    </select>
  </div>

  <h3 class="styleguide-subsection-header">Email input</h3>
  <div class="usa-form-control">
    <label for="home-email">Home email address</label>
    <input type="email" id="home-email">
  </div>
</section>
