<section id="intro" class="styleguide-section">
    <h1>eApp UI Components</h1>
    <p class="usa-font-lead">These UI components are design specifically for use in eApp. They are to be used when building any background check related form (e.g. SF-86, SF-85, and SF-85p).</p>
    <p>These components are built using the <a href="https://designsystem.digital.gov/" target="_blank">U.S. Web Design System.</a> Not all components used in eApp are documented here. Basic components such as colors, buttons, links, icons, etc. are taken directly from the U.S Web Design System.</p>
</section>
