<header class="usa-header site-header">
  <div class="usa-navbar site-header-navbar">
    <div class="usa-logo site-logo">
      <em class="usa-logo-text">
        eApp Styleguide
      </em>
    </div>
  </div>
</header>
