<h2 class="styleguide-section-header">Phone Number Block</h2>
<section id="phone-number-block" class="styleguide-section">
  <fieldset class="usa-fieldset-inputs">
    <legend>Provide this person's mobile/cell phone number</legend>
    <div class="usa-phone-number-block">
      <div class="usa-phone-number-input">
        <label for="phone-number">Phone number</label>
        <input type="text" name="phone-number" class="phone-input">
      </div>
      <div class="usa-extension-input">
        <label for="extension">Extension</label>
        <input type="text" name="extension" class="phone-input">
      </div>
      <div class="usa-phone-type-input">
        <label for="phone-type-1">Phone type</label>
        <select name="phone-type-1" id="phone-type-1">
          <option value="" style="display:none" disabled selected></option>
          <option value="cell">Cell</option>
          <option value="home">Home</option>
          <option value="work">Work</option>
        </select>
      </div>
      <div class="usa-phone-dont-know">
        <ul class="usa-list-inline">
          <li><span>or</span></li>
          <li>
            <input class="disabled-toggle" id="phone-dont-know" type="checkbox" name="phone-dont-know" value="phone-dont-know" data-id="phone-input">
            <label for="phone-dont-know"><span>I don't know</span></label>
          </li>
        </ul>
      </div>
    </div>
    <div class="modifiers modifiers-left">
      <div class="modifier">
        <input id="international-dsn-3" type="checkbox" name="international-dsn-3" value="dns" class="phone-input">
        <label class="simple-checkbox" for="international-dsn-3"><span>This is an international or DSN phone number</span></label>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <fieldset class="usa-fielset-inputs">
          <legend class="label-style">Best time to call</legend>
          <ul class="usa-list-inline">
            <li>
              <input id="day-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="day">
              <label for="day-phone-3"><span>Day</span></label>
            </li>
            <li>
              <input id="night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="night">
              <label for="night-phone-3"><span>Night</span></label>
            </li>
            <li>
              <input id="day-night-phone-3" class="phone-input" type="radio" name="time-to-call-3" value="both">
              <label for="day-night-phone-3"><span>Both</span></label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </fieldset>

  <ul class="usa-accordion-bordered styleguide-documentation-section">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="phone-number-docs">
        Documentation
      </button>
      <div id="phone-number-docs" class="usa-accordion-content">
        <strong>When to use</strong>
        <ul>
          <li>When collecting a phone number from an applicant.</li>
        </ul>

        <strong>Guidance</strong>
        <ul>
          <li>Optionally allow for an "I don't know" checkbox depending on the question requirements.</li>
          <li>Don't auto tab between form fields. This could confuse applicants as they are trying to recall a phone number.</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
