<h2 class="styleguide-section-header">Save Block</h2>
<section class="styleguide-section" id="save-block">
	<button id="eapp-save" class="usa-eapp-save">
		<div class="usa-eapp-save-icon">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="far fa-save fa-stack-1x fa-inverse"></i>
			</span>
		</div>
		<span class="usa-eapp-save-label">
			<div class="usa-timeago-label">
				<div class="save-label">Saved</div>
				<div class="timeago-label">4 minutes ago</div>
			</div>
			<span class="usa-save-label">
				<div class="save-label">Save now</div>
				<div>&nbsp;</div>
			</span>
		</span>
	</button>

	<ul class="usa-accordion-bordered styleguide-documentation-section">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="save-docs">
        Documentation
      </button>
      <div id="save-docs" class="usa-accordion-content">
        <strong>When to use</strong>
        <ul>
          <li>Use a save button to allow the applicant to save their progress in the form at any time.</li>
        </ul>

        <strong>Guidance</strong>
        <ul>
          <li>The save button should allow a user to submit a save at any time.</li>
          <li>The save button shoud display the last time the form was saved either manually or autosaved.</li>
        </ul>
      </div>
    </li>
  </ul>
</section>