<section id="sidenav-block" class="styleguide-section">
  <h2 class="styleguide-section-header">Sidenav Block</h2>
  <div class="usa-grid">
    <div class="usa-width-one-third">
      <nav>
        <ul class="usa-sidenav-list">
          <li>
            <a href="">Parent link</a>
          </li>
          <li>
            <a href="" class="usa-current">Current page</a>
            <ul class="usa-sidenav-sub_list">
              <li>
                <a href="">Child link</a>
              </li>
              <li>
                <a href="">Child link</a>
              </li>
              <li>
                <a href="">Child link</a>
              </li>
              <li>
                <a href="">Child link</a>
              </li>
              <li>
                <a href="" class="usa-current">Child link
                </a>
              </li>
            </ul>
            </li>
            <li>
              <a href="">Parent link</a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</section>
