<h2 class="styleguide-section-header">Sidenav Block</h2>
<section id="sidenav-block" class="styleguide-section">
  <div class="usa-sidenav-wrapper">
    <nav>
      <ul class="usa-sidenav-list">
        <li>
          <a class="usa-current usa-sidenav-toggle usa-sidenav-section usa-sidenav-has-errors" aria-expanded="false" href="">
            <span class="usa-sidenav-section-name">Information about you</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
          <ul class="usa-sidenav-sub_list">
            <li>
              <a href="" class="usa-sidenav-has-errors">
                <span>Introduction</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Full name</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a href="" class="usa-sidenav-is-valid">
                <span>Other names used</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a class="usa-current" href="" class="usa-sidenav-is-valid">
                <span>Your contact information</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Date of birth</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Place of birth</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a href="" class="usa-sidenav-is-valid">
                <span>Social security number</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Your identifying information</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Review</span>
                <span class="usa-sidenav-status-icon"></span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" class="usa-sidenav-section usa-sidenav-toggle usa-sidenav-is-valid" aria-expanded="false">
            <span class="usa-sidenav-section-name">Your history</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Relationships</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Citizenship</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Miliary history</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Foreign associations</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Financial record</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Substance abuse</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Investigative and criminal history</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Psychological and emotional health</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
        <li>
          <a class="usa-sidenav-section usa-sidenav-toggle" href="" aria-expanded="false">
            <span class="usa-sidenav-section-name">Review and submit</span>
            <span class="usa-sidenav-status-icon"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <ul class="usa-accordion-bordered styleguide-documentation-section">
    <li>
      <button class="usa-accordion-button"
        aria-expanded="true"
        aria-controls="sidenav-docs">
        Documentation
      </button>
      <div id="sidenav-docs" class="usa-accordion-content">
        <strong>When to use</strong>
        <ul>
          <li>When allowing an applicant to navigate through all sections in the form.</li>
          <li>When you want to show an applicant their status as they are filling out a form.</li>
        </ul>

        <strong>Guidance</strong>
        <ul>
          <li>Applicant should be able to select any section/subsection of the form at any time from the sidenav.</li>
          <li>Validation for each section/subsection should only be triggered when an applicant reaches a review page.</li>
          <li>Subsections
            <ul>
              <li>A subsection page should be marked as valid only after all required questions are completed.</li>
              <li>A subsection page that is partially complete (with all correct responses) should not have an indicator until the review page is hit.</li>
              <li>A subsection page that has not been visited yet should not have an indicator until the review page is hit.</li>
              <li>A subsection with a field error should show an error.</li>
            </ul>
          </li>
          <li>Sections
            <ul>
              <li>A section should show green only when all subsections and fields are fully and complete.</li>
              <li>If a subsection shows an error, the section above it should show an error.</li>
            </ul>
          </li>
          <li>Sections and subsections should be fully collapsed by default unless clicked on or navigated to using the back/next buttons.</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
