<h2 class="styleguide-section-header">Timeline Block</h2>
<section id="timeline-block" class="styleguide-section">
	<div class="usa-timeline-block">
		<div class="usa-timeline-content">
			<span class="usa-timeline-icon">
				<i class="fas fa-home fa-3x"></i>
			</span>
			<span class="usa-timeline-title">
				<strong>Where have you lived</strong>
			</span>
			<div class="usa-timeline-progress">
				<div class="usa-timeline-progress-filled" style="left: 65%; width: 35%;"></div>
			</div>
		</div>
		<div class="usa-timeline-stats">
			<div class="usa-timeline-stats-fraction">
				<span class="completed">4</span>
				<span class="slash">/</span>
				<span class="total">10</span>
			</div>
			<div class="usa-timeline-stats-fraction-unit">
				Years covered
			</div>
		</div>
	</div>

	
</section>