<h2 class="styleguide-section-header">Typography</h2>
<section id="typography" class="styleguide-section">

<h1>Heading 1 (3rem)</h1>
<h2>Heading 2 (2.5rem)</h2>
<h3>Heading 3 (1.7rem)</h3>
<h4>Heading 4 (1.5rem)</h4>
<p>Body copy (1.7rem). Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate vulputate odio, dapibus pretium nibh dapibus eget. Aliquam ultrices mattis metus a interdum. Vestibulum dapibus laoreet porta. Duis interdum ex sed eros vestibulum, id cursus erat sagittis. Nunc id turpis quis arcu semper consectetur. Nullam at suscipit enim. Sed vulputate vestibulum ullamcorper. Vivamus vulputate mauris eu venenatis tempus</p>

</section>
