---
layout: "design-principals"
title: eApp styleguide | Design Principals
---

<section id="design-principal-intro" class="styleguide-section">
  <h1>eApp Design/Experience Principles</h1>
  <p class="usa-font-lead">Design principles are concise, specific guidelines for generating and evaluating ideas and artifacts. The goal of these principles are to give the team a shared language to describe the product and evaluation criteria for features. This is meant to cover design principles specific to eApp, rather than general best practices.</p>
</section>
