---
layout: "design-principals"
title: eApp Design System | Design Principles
---

<h1>Background Check Systems Design Principles</h1>
<p class="usa-font-lead">Reduce errors, reduce helpdesk calls, reduce bottlenecks, increase trust and transparency with the process.</p>

<section class="styleguide-section">
  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Digestibles Content</h3>
    <ul>
      <li>Be clear, concise and consistent.</li>
      <li>Make information bite sized.</li>
      <li>Don’t speak like a Lawyer.</li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Transparent Process</h3>
    <ul>
      <li>Make it clear for an applicant, as well as, background check facilitator to know where people are in the process, what’s the next step, an estimated timeline to getting there, what actions are necessary and who’s responsible for making that happen.</li>
      <li>Let an applicant know when and how someone might reach out to them for more information if necessary</li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Trust in the system</h3>
    <ul>
      <li>Make it clear that information shared will be secure.</li>
      <li>Make ISPs verify who they are before allowing them to ask an applicant clarifying questions about their data.</li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Balance Security with Access</h3>
    <ul>
      <li>Make is easy to reset username and password.</li>
      <li>Don’t require different login to access different software in the background check process.</li>
      <li>Block out SSN and other PII from being visible when it is not needed.</li>
      <li>Do not use SSN as a user pin.</li>
    </ul>
  </div>

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Make the Process Quicker</h3>
    <ul>
      <li>Automate or Remove steps wherever possible.</li>
      <li>Reduce the time information is waiting in a queue.</li>
      <li>Move excess capacity to respond to blockers at other parts in the system.</li>
    </ul>
  </div>
</section>
