---
layout: "design-principals"
title: eApp styleguide | Design Principles
---

<h1>Terminology</h1>
<section id="terminology" class="styleguide-section">

  <div class="styleguide-subsection">
    <h3 class="styleguide-subsection-header">Validation state</h3>
    <ul>
      <li>Invalid</li>
      <li>Complete: filled out and accurate</li>
      <li>Untouched</li>
      <li>Partially complete? (may be considered invalid or untouched)</li>
    </ul>

    <h3 class="styleguide-subsection-header">Areas of work</h3>
    <ul>
      <li>Section: pages in the top-level navigation</li>
      <li>Subsection: pages in the second and third-level navigation</li>
      <li>Field set: multiple related fields (area code, first three, and last four digits of phone number)
        <ul>
          <li>They can be nested (address relating to a person)</li>
          <li>They can be nested and nested again (address relating to a person in a list of people)</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
